<template>
    <template if:true={showspinner}>
        <lightning-spinner alternative-text="Loading" size="medium" variant="brand" class="spinnershow">
        </lightning-spinner>
    </template>
    <template if:true={loadlatestdatafromAWS}>
        <c-hv-aws-sdk-connect reqendpoint={requestParams.endpoint} reqmethod={requestParams.awsmethod}
            reqbody={requestParams.requestbody} onawsresponsesuccess={handleresponse}
            onawsresponseerror={handleresponseerror} reqidentifier={requestParams.dataType}></c-hv-aws-sdk-connect>
    </template>
    <template if:false={showspinner}>
        <template if:false={showUserProfile}>
            <template if:false={loadlatestdatafromAWS}>
                <div class="patientDashboard slds-card slds-p-left_medium slds-p-right_medium slds-p-bottom_medium">
                    <div
                        class="slds-grid slds-gutters slds-p-bottom_small slds-border_bottom slds-grid_align-spread slds-wrap slds-grid_vertical-align-center">
                        <div class="slds-grid slds-grid_vertical-align-center">
                            <lightning-button if:false={frompatientdashboard} class="slds-col" variant="brand" label=" "
                                icon-name="utility:chevronleft" name="back" onclick={goBackToPhysicianDashboard}>
                            </lightning-button>
                            <lightning-button if:true={frompatientdashboard} class="slds-col" variant="brand" label=" "
                                icon-name="utility:chevronleft" name="back" onclick={goBackToPatientDashboard}>
                            </lightning-button>
                            <span class="slds-col slds-text-heading_large bold slds-m-left_small">
                                <a onclick={gotouserprofile}>{patientName}</a>
                            </span>
                        </div>
                        <!-- <div class="slds-col">
            </div> -->
                        <lightning-button-group>
                            <lightning-button variant="bare" label="Report" icon-name="utility:summary"
                                onclick={generateReportOpenModal}>
                            </lightning-button>
                        </lightning-button-group>
                    </div>
                    <!-- Date Range -->
                    <div class="slds-grid slds-gutters slds-m-vertical_small slds-wrap">
                        <div class="slds-col">
                            <div class="slds-wrap">
                                <lightning-button-group>
                                    <lightning-button class="activebuttonclass" label="1D" onclick={handleButtonGroup}>
                                    </lightning-button>

                                    <lightning-button class="activebuttonclass" label="1W" onclick={handleButtonGroup}>
                                    </lightning-button>

                                    <lightning-button class="activebuttonclass" label="1M" onclick={handleButtonGroup}>
                                    </lightning-button>

                                    <lightning-button class="activebuttonclass" label="3M" onclick={handleButtonGroup}>
                                    </lightning-button>

                                    <lightning-button class="activebuttonclass" label="6M" onclick={handleButtonGroup}>
                                    </lightning-button>

                                    <lightning-button class="activebuttonclass" label="YTD" onclick={handleButtonGroup}>
                                    </lightning-button>
                                </lightning-button-group>
                            </div>
                        </div>
                    </div>
                    <!-- Device data -->
                    <div class="slds-grid slds-gutters slds-wrap slds-m-top_small  devicedata">
                        <template for:each={deviceData} for:item="device" for:index="index">
                            <div key={device.Id} data-id={device.Id}
                                class="slds-col boderAllHide slds-size_1-of-1 slds-large-size_1-of-6 slds-medium-size_2-of-6 slds-small-size_1-of-2 slds-text-align_center slds-m-bottom_medium"
                                onclick={changeTabDeices}>
                                <div class="slds-box_small slds-theme_shade slds-box deviceHeading backgroundStyle">
                                    <p>{device.heading}</p>
                                </div>
                                <div class="slds-border_right slds-border_bottom slds-border_left deviceContent">
                                    <div class="slds-text-heading_medium slds-p-top_small bold">
                                        {device.data}
                                    </div>
                                    <div class="slds-text-body_small slds-p-vertical_small">
                                        <span data-id={device.Id} onclick={handleTabInfo}>{device.subText}</span>
                                        <lightning-helptext content={device.helpText}>
                                        </lightning-helptext>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="slds-grid slds-m-bottom_small slds-p-bottom_small ">
                        <div key={selecteddevicedetail.Id} data-name={selecteddevicedetail.Id}
                            class="slds-col slds-size_1-of-1 slds-border_right slds-border_bottom slds-border_left slds-border_top">
                            <div class="slds-p-around_small ">
                                <template if:true={isPeripheralDeviceSelected}>
                                    <c-hv-patient-peripheral-device-data awsrequestdetails={requestParams}
                                        callapi="true">
                                    </c-hv-patient-peripheral-device-data>
                                </template>
                                <template if:true={isheartselected}>
                                    <c-hv-heart-rate-measurment awspatientid={hvpatientid}
                                        awsstartdate={dayrangestartdate} awsenddate={dayrangeenddate}>
                                    </c-hv-heart-rate-measurment>
                                </template>
                                <template if:true={isdefaultselecetd}>
                                    {selecteddevicedetail.data}
                                </template>
                                <template if:true={isSymptomHistory}>
                                    <template if:false={isSymptomChecker}>
                                        <c-hv-symptom-status-history patient-id={patientUserData.AccountId}>
                                        </c-hv-symptom-status-history>
                                    </template>
                                </template>
                            </div>
                        </div>
                    </div>

                </div>
            </template>
        </template>
        <template if:true={showUserProfile}>
            <div class="slds-card slds-p-left_medium slds-p-right_medium slds-p-bottom_medium">
                <div class="slds-grid slds-p-bottom_small slds-border_bottom slds-grid_align-spread slds-wrap">
                    <lightning-button class="slds-col" variant="brand" label=" " icon-name="utility:chevronleft"
                        name="back" onclick={revertBack}>
                    </lightning-button>
                </div>
            </div>
            <c-hv-user-profile currentuserrecord={patientUserData}></c-hv-user-profile>
        </template>
        <template if:true={isSymptomChecker}>
            <template if:true={patientId}>
                <c-hv-select-symptom-status patient-detail={patientId} onclosesymptomchecker={closeSymptomChecker}>
                </c-hv-select-symptom-status>
            </template>
        </template>
        <!-- generate report popup Start -->
        <template if:true={isGenerateReportOpen}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={generateReportCloseModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                size="small"></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Generate Report
                            Preferences</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">

                        <div class="slds-grid slds-gutters slds-m-vertical_small slds-wrap">
                            <template if:false={showReportHistory}>
                                <div class="slds-col">
                                    <!-- <lightning-combobox name="department" label="Last 30 Days" value={value} placeholder="--Choose--"
                                    options={daysOption}></lightning-combobox> -->
                                    <!--<lightning-combobox name="daysSelection" label="Days" value={value}
                                    placeholder="Select Range" options={optionsDaysReport}></lightning-combobox>-->
                                    <div class="slds-grid slds-gutters slds-m-vertical_small slds-wrap">
                                        <div class="slds-col">
                                            <lightning-button-group class="slds-wrap">
                                                <lightning-button class="generatereportbutton" label="1D" onclick={handleButtonGroupGenerateReport}>
                                                </lightning-button>

                                                <lightning-button class="generatereportbutton" label="1W" onclick={handleButtonGroupGenerateReport}>
                                                </lightning-button>

                                                <lightning-button class="generatereportbutton" label="1M" onclick={handleButtonGroupGenerateReport}>
                                                </lightning-button>

                                                <lightning-button class="generatereportbutton" label="3M" onclick={handleButtonGroupGenerateReport}>
                                                </lightning-button>

                                                <lightning-button class="generatereportbutton" label="6M" onclick={handleButtonGroupGenerateReport}>
                                                </lightning-button>

                                                <lightning-button class="generatereportbutton" label="YTD" onclick={handleButtonGroupGenerateReport}>
                                                </lightning-button>
                                            </lightning-button-group>
                                        </div>
                                    </div>

                                    <lightning-dual-listbox name="devices" label="Select Devices"
                                        source-label="Available" selected-label="Selected" required
                                        options={optionsDevicesReport}></lightning-dual-listbox>
                                    <!-- field-level-help="Choose your preferred devices" -->

                                </div>
                            </template>
                            <template if:true={showReportHistory}>
                                <!--template if:true={hvpatientid}>
                                    <c-hv-view-report-history patientid={hvpatientid}></c-hv-view-report-history>
                                </template-->
                            </template>
                        </div>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={generateReportCloseModal}
                            title="Cancel">Cancel</button>
                        <template if:false={showReportHistory}>
                            <!--button class="slds-button slds-button_neutral" onclick={viewReportHistory}
                                title="View History Report">View History Report</button-->
                            <button class="slds-button slds-button_brand" onclick={generateAFReports}
                                title="Submit">Submit</button>
                        </template>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!-- generate report popup End -->
    </template>
</template>