.bold{
    color :#16325c;
    font-weight:900;
}
.slds-box{
    border-radius:0;
}
.textAlign{
    padding-top:0.25rem;
    display:inline-block;
}
.devicedata .slds-box{
     min-height:65px
}
.slds-alert_warning {
    background-color: #ffb75d;
    color: #080707;
}
.AfdetectedMultiCOlor p{
    z-index: 3;
    position: relative;
}

.AfdetectedMultiCOlor .slds-is-absolute
{
    z-index: 1;
    left: 0;
    height: 100%;
    top: 0;
}
.AfdetectedMultiCOlor .slds-is-absolute.slds-progress-bar__value_success{
    width: 100%;
}
.AfdetectedMultiCOlor .slds-is-absolute.slds-alert_warning{
    z-index: 2;
    width: 40%;
    left:-1px
}

.patientDashboardSidebar{
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
.patientDashboard{
    width: calc(100%);
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.datatableScroll{
    height: calc(100vh - 250px);
    overflow: hidden;
    overflow-y: auto;
}
.activeTab > div.slds-theme_shade {
    background: rgb(0 112 210);
    color: #fff;
}
.spinnershow {
    margin-top: 10% !important;
}