<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 08-06-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    
    <lightning-input  type="checkbox" label={val.label}
    value={val.value} name={index} checked={val.checked} disabled={val.disabled}>
</lightning-input>
</template>