<template>
    <!--<div class="slds-p-bottom_small slds-p-left_xx-small">
        <lightning-input type="date" value={startdate} onchange={setStartDate} label="Start date" ></lightning-input>
        <lightning-input type="date" value={enddate} onchange={setEndDate} label="End date" ></lightning-input>
    </div-->
    <lightning-button class="slds-m-left_xx-small" label="Generate Report"
                icon-name="utility:summary" onclick={generateReports}></lightning-button>
</template>