<template>
    <template if:true={showprofilemenu}>      
        <div class="slds-float_right slds-m-around_medium"> 
            <!-- <a onclick={dologout} class="slds-text-heading_small linkstyle">Logout </a> <b>|</b> -->
            <!-- <a onclick={gotoknowledgebase} class="slds-text-heading_small linkstyle"> Knowledge Base </a> <b>|</b> -->
            <a class="slds-text-heading_small linkstyle"> {email} <lightning-avatar src={url} alternative-text={name} variant="circle" size="medium"></lightning-avatar></a>

            <lightning-button-menu icon-size="x-small" menu-alignment="right" title="Dividers use standard variant" alternative-text="Show menu">
                <!-- <lightning-menu-subheader label="Header Alpha"></lightning-menu-subheader> -->
                <lightning-menu-item value="MenuItemOne" label="Profile" onclick={revertbacktoUserProfile}></lightning-menu-item>
                <!-- <lightning-menu-item value="MenuItemOne" label="knowledge Base"></lightning-menu-item> -->
                <lightning-menu-item value="MenuItemTwo" onclick={dologout} label="Logout"></lightning-menu-item>
                <!-- <lightning-menu-divider></lightning-menu-divider>   -->
            </lightning-button-menu>
        </div>
    </template>
</template>