<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-08-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <template if:true={data}>
        <lightning-datatable
            key-field="id"
            data={data}
            columns={columns}
            hide-checkbox-column>
        </lightning-datatable>
    </template>
</template>