<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 05-12-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   05-12-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template> 
    <template if:true={showdatable}>
        <div class="slds-p-around_small">
            <lightning-layout vertical-align="center" multiple-rows="true" class="x-large page">
                <lightning-layout-item padding="around-small" size="12">
                    <c-hv-broadcast-alert></c-hv-broadcast-alert>
                </lightning-layout-item>
                <lightning-layout-item padding="" size="12">
                    <div class="page-section page-header">
                        <c-hv-patient-header onshowhv={showHeartView} onmessages={showMessages} oneditprofile={handleProfile}></c-hv-patient-header>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small" size="12">
                    <div class="page-section page-main slds-p-around_small slds-card">
                            <lightning-tabset class="slds-tabs_medium">
                                <lightning-tab label="TODAY’S GOALS" class="page">
                                    <c-hv-todays-goals></c-hv-todays-goals>
                                </lightning-tab>
                                <lightning-tab label="MONTHLY TRACKING" class="page">
                                    <c-hv-monthly-tracking></c-hv-monthly-tracking>
                                </lightning-tab>
                                <lightning-tab label="LONG-TERM GOALS" class="page">
                                    <c-hv-long-term-goals></c-hv-long-term-goals>
                                </lightning-tab>
                            </lightning-tabset>
                    </div>    
                </lightning-layout-item>
                <!-- <lightning-layout-item padding="" size="2" class="">
                    <div class="page-section page-footer">
                        Livmore
                    </div>    
                </lightning-layout-item> -->
            </lightning-layout>
        </div>
        <!--Use template if:true to display/hide popup based on isModalOpen value--> 
    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Messages</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="slds-scrollable_y slds-p-left_x-small">
						<c-hv-patient-notes></c-hv-patient-notes>
					</div>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    </template>
    <template if:true={showhvdiv}>
        <!--c-hv-heart-rate-measurment onhideheartview={hadleHeartView} awsstartdate={dayrangestartdate}
                                    awsenddate={dayrangeenddate}></c-hv-heart-rate-measurment-->
        <c-hv-patient-measurments-detail patient-id={currentpatientid} onback={showPatientDashboard} frompatientdashboard={frompatientportal}>
                                    </c-hv-patient-measurments-detail>
    </template>
    <template if:true={showprofile}>
        <c-hv-user-profile frompatientdashboard='true' onbacktopd={backtopatientdashboard}></c-hv-user-profile>
    </template>
    <c-hv-popup is-consent-open={isPatientAndFirstLogin} onconsentgiven={refreshViewAfterConsent}></c-hv-popup>
</template>