<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-14-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>

    

    <div class="slds-grid">
        <div class="slds-col slds-size_12-of-12">
           
            <lightning-card>
                <div slot="title">
                    Account Recovery
                </div>
                <div  class="slds-text-color_success slds-text-title slds-p-horizontal_small" if:true={message} >
                     OTP sent Successfully
                     </div>
                <span if:true={errorMessageDisplay} class="slds-text-color_error slds-text-title slds-p-horizontal_small"> {errorMessage}</span>
                <div class="slds-grid slds-p-horizontal_medium"> 
                    <div class="slds-col slds-size_2-of-2">
                        <p class="slds-m-top_medium" if:true={phoneSelection}>A text message with a 6-digit verification
                            code was just sent to {phoneString}</p>
                        <p class="slds-m-top_medium" if:true={emailSelection}>An email with a verification code was just
                            sent to {emailString}</p>
                            <p class="slds-m-top_medium" if:true={homePhoneSelection}>A call for verification code to {homePhoneString}</p>
                            
                        <!-- <p>Prefered Way to sign in</p> -->
                        <div class="slds-p-bottom_x-small slds-m-top_medium">
                            <lightning-input type="text" variant="label-hidden" value={enterOtp} name="email"
                                placeholder="Enter Code" onchange={changeOtp} label=" " required></lightning-input>
                        </div>
                        <div class="slds-grid slds-p-bottom_x-small slds-m-top_x-small">
                            <!-- <div class="slds-col">
                                Second: <span data-id="secondsblock"></span>{totalSeconds}
                                {seconds}
                            </div> -->
                            <div class="slds-col">
                                <lightning-button icon-name="utility:refresh" variant="base" label="Resend" onclick={ResendOTP}
                                class="slds-float_right"></lightning-button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="slds-grid slds-grid_align-spread slds-p-around_small slds-border_top slds-m-top_x-large">
                    <!-- <lightning-button variant="brand-outline" label="Cancle" class="slds-col"></lightning-button> -->
                    <c-hv-cancel-button-to-login></c-hv-cancel-button-to-login>
                    <lightning-button variant="brand" onclick={verify} label="Verify" class="slds-col">
                    </lightning-button>
                </div>

            </lightning-card>
        </div>
    </div>
</template>