<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-27-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   05-12-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="slds-p-around_x-small">
        <!-- backgroundStyle -->
        <div class="topdiv  slds-input slds-p-around_x-small ba">
            <lightning-record-edit-form object-api-name={objectApiName} onsuccess={handleCreated} record-id={recordId} onsubmit={handleSubmit} onerror={handleError}>
                <lightning-messages></lightning-messages>
                <!--<template for:each={fieldsJsonArray} for:item="fields">
                    
                    <lightning-input- field data-field={fields.apiName} key={fields.apiName} field-name={fields.apiName}
                        name={fields.apiName} required={fields.required}
                    onchange={handleChange}
                ></lightning-input-field>
                <div key={id} class="slds-text-color_error">
                    <p key={Id} class={fields.apiName} ></p>
                </div>
            </template>-->
                <template if:false={isSaved}> 
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-medium-size_1-of-2 slds-small-size_1-of-1">
                            <template for:each={column1fields} for:item="field">
                                <lightning-input-field  
                                    key={Id}
                                    field-name={field.fieldApiName}
                                    required={field.isRequired}
                                    disabled={field.isDisabled}
                                    readonly={field.isReadOnly}
                                    data-onchange={field.onchange}
                                    onchange={onchangeEvent}
                                    onkeyup={keyUpEvent}
                                    name={field.name}
                                    class={field.name}>
                                </lightning-input-field>
                                <div key={Id} class="slds-text-color_error slds-align_absolute-center">
                                    <p key={Id} class={field.name}>
                                    </p> 
                                </div>
                            </template> 
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-medium-size_1-of-2 slds-small-size_1-of-1">
                            <template for:each={column2fields} for:item="field">
                                <lightning-input-field  
                                    key={Id}
                                    field-name={field.fieldApiName}
                                    required={field.isRequired}
                                    disabled={field.isDisabled}
                                    readonly={field.isReadOnly}
                                    data-onchange={field.onchange}
                                    onchange={onchangeEvent}
                                    name={field.name}
                                    class={field.name}>
                                </lightning-input-field>
                                <div key={Id} class="slds-text-color_error">
                                <p key={Id} class={field.name}>
               
                                    
                                </p> 
                            </div>
                            </template> 
                        </div>
                        <lightning-button type="submit" variant="brand" class="slds-align_absolute-center" label="Save"></lightning-button>
                    </div>
                   
                </template>
                <template if:true={isSaved}>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-medium-size_1-of-2 slds-small-size_1-of-1">
                            <template for:each={column1fields} for:item="field">
                                <lightning-output-field  
                                key={Id}
                                field-name={field.fieldApiName}>
                            </lightning-output-field>
                            </template> 
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-medium-size_1-of-2 slds-small-size_1-of-1">
                            <template for:each={column2fields} for:item="field">
                                <lightning-output-field  
                                    key={Id}
                                    field-name={field.fieldApiName}>
                                </lightning-output-field>
                            </template> 
                        </div> 
                    </div>
                </template> 
            </lightning-record-edit-form>
        </div>
    </div>
   
</template>