<template>
    <template if:true={loadawsdata}>
        <c-hv-aws-sdk-connect reqendpoint={apiendpoint} reqmethod={apimethod} reqbody={apirequestbody}
        onawsresponsesuccess={handleresponse} reqidentifier={devicetype}></c-hv-aws-sdk-connect>
    </template>
    <h2 class="slds-text-heading_large slds-button slds-m-vertical_medium slds-m-left_small"><strong>LONG-TERM HEALTH GOALS</strong></h2>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-p-around_small">
            <div class="slds-input">

                <h2 class="slds-text-heading_medium slds-button slds-m-top_medium slds-m-bottom_large"><strong>{goalsetdate} </strong></h2>
                
                <div class="slds-m-bottom_small slds-p-vertical_small slds-border_bottom slds-grid"> 
                    <div class="">
                        <lightning-icon icon-name="custom:custom90" alternative-text="Success!" 
                        title="success variant small" size="medium"></lightning-icon> 
                        
                    </div>
                    <div class="slds-col slds-m-left_small">
                        <div class="name slds-text-heading_small ">{weight}</div>
                        <div class="slds-text-title"> {weightDiff} lbs until you reach
                            your health goal!</div>
                    </div>
                </div>

                <div class="slds-m-bottom_small slds-p-vertical_small slds-border_bottom slds-grid">
                    <div class="">
                        <lightning-icon icon-name="standard:record_create" alternative-text="Success!" 
                        title="success variant small" size="medium"></lightning-icon> 
                    </div>
                    <div class="slds-col slds-m-left_small">
                        <div class="name slds-text-heading_small"> {bp}</div>
                        <!--div class="slds-text-title">  <lightning-icon icon-name="utility:like" 
                            title="success variant small" size="xx-small"></lightning-icon>  Dr. Smith liked this</div-->
                    </div>
                </div>

                <div class="slds-m-bottom_small slds-p-vertical_small slds-border_bottom">
                    <lightning-icon icon-name="custom:custom97" alternative-text="Success!" 
                    title="success variant small" size="medium"></lightning-icon> 
                    <span class="name slds-text-heading_small slds-m-left_small">No record</span>
                </div>

                <div class="slds-m-bottom_small slds-p-vertical_small">
                    <lightning-icon icon-name="standard:feed" alternative-text="Success!" 
                    title="success variant small" size="medium"></lightning-icon> 
                    <span class="name slds-text-heading_small slds-m-left_small">{heart_rate_data}</span>
                    
                </div>
            
            </div>
        </div>

        <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-p-around_small">
            <div class="slds-input">
                <h2 class="slds-text-heading_medium slds-button slds-m-top_medium"><strong>TARGET GOALS BY:</strong></h2>
                <h2 class="slds-text-title slds-m-bottom_x-small">{targetDate}</h2> 

                <div class="slds-m-bottom_small slds-p-vertical_small slds-border_bottom">
                    <lightning-icon icon-name="custom:custom90" alternative-text="Success!" 
                    title="success variant small" size="medium"></lightning-icon> 
                    <span class="name slds-text-heading_small slds-m-left_small"> {targetData.Weight__c}</span>
                    
                </div>

                <div class="slds-m-bottom_small slds-p-vertical_small slds-border_bottom">
                    <lightning-icon icon-name="standard:record_create" alternative-text="Success!" 
                    title="success variant small" size="medium"></lightning-icon> 
                    <span class="name slds-text-heading_small slds-m-left_small">{targetData.Blood_Pressure__c}</span>
                    
                </div>

                <div class="slds-m-bottom_small slds-p-vertical_small slds-border_bottom">
                    <lightning-icon icon-name="custom:custom97" alternative-text="Success!" 
                    title="success variant small" size="medium"></lightning-icon> 
                    <span class="name slds-text-heading_small slds-m-left_small">N/A</span>
                    
                </div>

                <div class="slds-m-bottom_small slds-p-vertical_small">
                    <lightning-icon icon-name="standard:feed" alternative-text="Success!" 
                    title="success variant small" size="medium"></lightning-icon> 
                    <span class="name slds-text-heading_small slds-m-left_small">{targetData.Heart_Rate__c}</span>
                    
                </div>
            </div>
        </div>
        
    </div>

</template>