<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-16-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-14-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
	<template if:true={showfacilityselect}>
		<c-hv-modal 
			modalheader={facilityModalheader}
		 	modalbody="Select Facility"
			closebuttonlabel="Cancel" 
			okbuttonlabel="Next" 
			onclosemodal={closeFacilityModal}
			onsubmistmodal={submitFacility}>
		</c-hv-modal>
	</template>
	<template if:false={showfacilityselect}>
	<div class="slds-p-horizontal_small">
		<template if:true={isLoading}>
			<lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
		</template>
		<span class="slds-text-color_error slds-text-heading_medium slds-p-horizontal_small">{errorMessage}</span>
		<lightning-layout multiple-rows>
			 <lightning-layout-item padding="" size="12">
				<div class="slds-p-vertical_medium slds-p-horizontal_medium slds-m-bottom_medium slds-no-print">
					<lightning-progress-indicator current-step={currentStep} type="base" variant="base">
						<lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
						<lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
					</lightning-progress-indicator>
				</div>
			</lightning-layout-item>
			<lightning-layout-item padding="" size="12" data-name="printBlockContainer" class="customPrintDiv">
				<lightning-card variant="Narrow" title={roleName} icon-name="standard:account">
					<!-- Step 1 of Patient Registration - Create Account -->
					<div id="step1" if:true={stepCondition1}>
						<lightning-accordion class="step1-registration" active-section-name={activeSections}
							allow-multiple-sections-open onsectiontoggle={handleToggleSection}>
							<lightning-accordion-section name="A" label="General Information">
								<lightning-layout multiple-rows>
									<!-- First name last name surname -->
									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="FirstName" hidden>
										<lightning-input name="FirstName" value={contactObject.FirstName} type="text"
											label="First Name" min-length=1 pattern="[a-zA-Z0-9]+"
											message-when-pattern-mismatch="First name cannot include space or special character"
											onchange={inputChange}>
										</lightning-input>
									</lightning-layout-item>
									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="LastName" hidden>
										<lightning-input name="LastName" value={contactObject.LastName} type="text"
											label="Last Name" min-length=1 pattern="[a-zA-Z0-9]+"
											message-when-pattern-mismatch="Last name cannot include space or special character"
											onchange={inputChange}>
										</lightning-input>
									</lightning-layout-item>
									<!-- License Number -->
									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="HV_License_Number__c"
										hidden>
										<lightning-input type="text" name="HV_License_Number__c" label="License Number"
											value={contactObject.HV_License_Number__c} placeholder="Type here..."
											onchange={inputChange}>
										</lightning-input>
									</lightning-layout-item>
									<!-- Specialization -->
									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="HV_Specialization__c"
										hidden>
										<lightning-input name="HV_Specialization__c" label="Specialization"
											value={contactObject.HV_Specialization__c} placeholder="Type here..."
											onchange={inputChange}>
										</lightning-input>
									</lightning-layout-item>
									<!-- Facility -->
									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="AccountId" hidden>
											<lightning-input type="text" name="AccountId" label="Facility"
											value={facilityname} disabled 
											>
										</lightning-input>
									</lightning-layout-item>
									<!-- Qualification -->
									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="HV_Qualification__c" hidden>
										<lightning-input type="text" name="HV_Qualification__c" label="Qualification"
											value={contactObject.HV_Qualification__c} onchange={inputChange}
											placeholder="Type here...">
										</lightning-input>
									</lightning-layout-item>
									<!-- Department -->

									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="HV_Department__c" hidden>
										<template if:true={departmentOptions}>
											<lightning-dual-listbox name="HV_Department__c" label="Department"
												source-label="Available" selected-label="Selected"
												field-level-help="Select your Department" options={departmentOptions}
												onchange={inputChange} value={selectedDepartment}>
											</lightning-dual-listbox>
										</template>
									</lightning-layout-item>

								</lightning-layout>
							</lightning-accordion-section>
							<lightning-accordion-section name="B" label="Contact Information">
								<lightning-layout multiple-rows>									
									<!-- email -->
									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="Email" hidden>
										<lightning-input type="email" name="Email" label="Email address"
											value={contactObject.Email} onchange={inputChange}
											onblur={validateEmailAddress} required="true"></lightning-input>
									</lightning-layout-item>
									<!-- Phone -->
									<lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
										large-device-size="6" padding="around-small" class="Phone" hidden>
										<lightning-input type="tel" min-length=10 label="Cell Phone" name="Phone"
											value={contactObject.Phone} onchange={inputChange} required="true"
											pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
											message-when-pattern-mismatch="Enter Valid 10 digit Phone Number in format XXX-XXX-XXXX">
										</lightning-input>
									</lightning-layout-item>
								</lightning-layout>
							</lightning-accordion-section>
						</lightning-accordion>
					</div>
					<div id="step2" if:true={stepCondition2}>
						<div class="slds-grid slds-p-vertical_medium slds-p-horizontal_medium fixedHeight">
							<!-- Show Print Button -->
							<div class="slds-col slds-size_12-of-12" data-id="printblock">
								<lightning-button variant="brand" label="Print" onclick={printDocument}
									class="slds-m-left_small slds-float_right  slds-no-print"></lightning-button>
								<!-- Show Details to Review In TimeLine Format-->
								<ul class="slds-timeline">
									<!-- General Information -->
									<li>
										<div
											class="slds-timeline__item_expandable slds-timeline__item_call slds-is-open">
											<span class="slds-assistive-text">General Information</span>
											<div class="slds-media">
												<div class="slds-media__figure">
													<div class="slds-icon_container  slds-timeline__icon slds-m-left_medium"
														title="General Information">
														<lightning-icon size="small" icon-name="doctype:gsheet"
															alternative-text="Toggle details for General Information">
														</lightning-icon>
													</div>
												</div>
												<div class="slds-media__body">
													<div
														class="slds-grid slds-grid_align-spread slds-timeline__trigger">
														<div
															class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
															<h3 class="slds-truncate" title="General Information">
																<a href="#">
																	<strong>General Information</strong>
																</a>
															</h3>
														</div>
													</div>
													<article
														class="slds-box slds-scrollable_none slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small slds-p-around_medium"
														id="general-information-expanded">
														<div class="slds-region_narrow">
															<dl class="slds-dl_inline">
																<div class="Text-FirstName" hidden>
																	<dt class="slds-dl_inline__label">First Name :</dt>
																	<dd class="slds-dl_inline__detail">
																		{contactObject.FirstName}</dd>
																</div>
																<div class="Text-LastName" hidden>
																	<dt class="slds-dl_inline__label">Last Name :</dt>
																	<dd class="slds-dl_inline__detail">
																		{contactObject.LastName}</dd>
																</div>
																<div class="Text-HV_License_Number__c" hidden>
																	<dt class="slds-dl_inline__label">License Number :
																	</dt>
																	<dd class="slds-dl_inline__detail">
																		{contactObject.HV_License_Number__c}</dd>
																</div>
																<div class="Text-HV_Specialization__c" hidden>
																	<dt class="slds-dl_inline__label">Specialization :
																	</dt>
																	<dd class="slds-dl_inline__detail">
																		{contactObject.HV_Specialization__c}
																	</dd>
																</div>
																<div class="Text-AccountId" hidden>
																	<dt class="slds-dl_inline__label">Facility :</dt>
																	<dd class="slds-dl_inline__detail">
																		{facilityname}</dd>
																</div>
																<div class="Text-HV_Qualification__c" hidden>
																	<dt class="slds-dl_inline__label">Qualification :
																	</dt>
																	<dd class="slds-dl_inline__detail">
																		{contactObject.HV_Qualification__c}</dd>
																</div>
																<div class="Text-HV_Department__c" hidden>
																	<dt class="slds-dl_inline__label">Department :
																	</dt>
																	<dd class="slds-dl_inline__detail">
																		{contactObject.HV_Department__c}</dd>
																</div>
															</dl>
														</div>
													</article>
												</div>
											</div>
										</div>
									</li>
									<!--End General Information -->
									<!-- Contact Information -->
									<li>
										<div
											class="slds-timeline__item_expandable slds-timeline__item_call slds-is-open">
											<span class="slds-assistive-text">Contact Information</span>
											<div class="slds-media">
												<div class="slds-media__figure">
													<div class="slds-icon_container  slds-timeline__icon slds-m-left_medium"
														title="Contact Information">
														<lightning-icon size="small" icon-name="standard:call"
															alternative-text="Toggle details for Contact Information">
														</lightning-icon>
													</div>
												</div>
												<div class="slds-media__body">
													<div
														class="slds-grid slds-grid_align-spread slds-timeline__trigger">
														<div
															class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
															<h3 class="slds-truncate" title="Contact Information">
																<a href="#">
																	<strong>Contact Information</strong>
																</a>
															</h3>
														</div>
													</div>
													<article
														class="slds-box slds-scrollable_none slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small slds-p-around_medium"
														id="contact-information-expanded">
														<div class="slds-region_narrow">
															<dl class="slds-dl_inline">
																<div class="Text-Phone" hidden>
																	<dt class="slds-dl_inline__label">Phone :</dt>
																	<dd class="slds-dl_inline__detail">
																		{contactObject.Phone}</dd>
																</div>
																<div class="Text-Email" hidden>
																	<dt class="slds-dl_inline__label">Email :</dt>
																	<dd class="slds-dl_inline__detail">
																		{contactObject.Email}</dd>
																</div>
															</dl>
														</div>
													</article>
												</div>
											</div>
										</div>
									</li>
									<!-- End Contact Information-->
								</ul>
							</div>
						</div>
					</div>
					<div slot="footer">
						<div class="slds-no-print slds-grid slds-grid_vertical-align-center slds-grid_align-spread ">
							<div class="slds-cols">
								<lightning-button variant="brand-outline" label="Cancel" class="slds-m-left_x-small"
									onclick={cancleClick}></lightning-button>
							</div>
							<div class="slds-cols">
								<lightning-button disabled={prevDisable} variant="brand" label="Previous"
									title="Previous" onclick={previous}></lightning-button>
								<lightning-button disabled={nextDisable} variant="brand" label={nextLabel} title="Next"
									onclick={next} class="slds-m-left_small"></lightning-button>
							</div>
						</div>
					</div>
				</lightning-card>
			</lightning-layout-item>
		</lightning-layout>
	</div>
	<template if:true={showValidationModal}>
		<c-hv-modal modalheader={existinguserheader} modalbody={existinguserbody} closebuttonlabel={existingusercloselabel} okbuttonlabel={existinguseroklabel} onclosemodal={handleexistingmodalclose} onsubmistmodal={handleexistingusersubmitmodal}></c-hv-modal>
	</template>
</template>
</template>