<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-06-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
	<template if:true={isConsentOpen}>
		<div class="slds-backdrop slds-backdrop_open"></div>
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
			<div class="slds-modal__container">
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<lightning-layout vertical-align="center" multiple-rows="true" class="x-large">
						<lightning-layout-item padding="" size="12">
							<div class="slds-p-vertical_medium slds-p-horizontal_medium slds-m-bottom_medium">
								<lightning-progress-indicator current-step={currentStep} type="path" variant="base">
									<lightning-progress-step label="Step 1" value="1" onclick={changeTab}></lightning-progress-step>
									<lightning-progress-step label="Step 2" value="2" onclick={changeTab}></lightning-progress-step>
									<!-- <lightning-progress-step label="Step 3" value="3" onclick={changeTab}></lightning-progress-step> -->
								</lightning-progress-indicator>
							</div>
						</lightning-layout-item>
						<lightning-layout-item padding="" size="12">
						<lightning-card  variant="Narrow"  title={stepHeading} >
								<div id="step1" if:true={stepCondition1} class="slds-p-horizontal_medium">
									<div class="slds-grid slds-p-vertical_medium slds-p-horizontal_medium- fixedHeight">
										<div class="slds-col slds-size_12-of-12">
											<div class="slds-text-body_regular">
												
												<div 
													class="d3"
													lwc:dom="manual"
												></div>
											</div> 
											<hr>
											<div class="slds-grid slds-grid_vertical-align-center slds-grid_align-spread ">
												<div class="slds-cols">
														<lightning-button onclick={acceptForm}  variant="brand" label="Next" title="Next" ></lightning-button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="step2" if:true={stepCondition2} class="slds-p-horizontal_medium">
									<!-- <div class="slds-grid slds-p-vertical_medium slds-p-horizontal_medium fixedHeight">
										<div class="slds-col slds-size_12-of-12">
											<c-hv-change-password onchild={haldleChild}></c-hv-change-password>
										</div>
									</div> -->

									<div class="slds-grid slds-p-vertical_medium slds-p-horizontal_medium fixedHeight">
										<div class="slds-col slds-size_12-of-12">
											<c-hv-security-questions is-from-user-profile="false" onchild={haldleChild}></c-hv-security-questions>
										</div>
									</div>
								</div>
								<!-- <div id="step3" if:true={stepCondition3} class="slds-p-horizontal_medium">
									
								</div> -->
								
							</lightning-card>
						</lightning-layout-item>
					</lightning-layout>
				</div>
				<footer class="slds-modal__footer slds-modal__footer_directional" if:true={footerCondition}>
					<div class="slds-grid slds-grid_vertical-align-center slds-grid_align-spread ">
						<div class="slds-cols">
							<!-- <lightning-button variant="brand" label="Cancel" title="Cancel" onclick={cancleClick} class="slds-m-left_x-small"></lightning-button> -->
							<!-- <lightning-button label="Save" title="Save" onclick={registerUser} class="slds-m-left_x-small"></lightning-button> -->
						</div>
						<div class="slds-cols">
								<!-- <lightning-button disabled={prevDisable} variant="brand" label="Previous" title="Previous" onclick={previous} ></lightning-button>
								<lightning-button disabled={nextDisable} variant="brand" label={nextLabel} title="Next" onclick={next} class="slds-m-left_small"></lightning-button> -->
							
						</div>
					</div>
				</footer>
			</div>
		</section>
	</template>
</template>