<template>
    <template if:true={isLoading}>
        <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
    </template>
    <template if:false={isLoading}>
        <template if:false={tabledata}>
            <h1 class="shownodata">No Data Available</h1>
        </template>
        <div style="height:500px"> 
        <template if:true={tabledata}>
            <!--lightning-datatable
                    key-field="id"
                    data={tabledata}
                    columns={columns}
                    hide-checkbox-column="true"
                    enable-infinite-loading
                    show-row-number-column="true"
                    onloadmore={loadMoreData}>
            </lightning-datatable-->
            <c-hv-custom-data-table key-field="Id" data={tabledata} columns={columns}
                show-row-number-column="true" onloadmore={loadMoreData} 
                enable-infinite-loading hide-checkbox-column="true">
            </c-hv-custom-data-table>
        </template> 
        </div>
    </template>
</template>