<template>
    <div class="slds-grid">
        <div class="slds-col slds-size_12-of-12">
            <template if:true={isguestuser}>
                <template if:false={showforgotpassword}>
                    <lightning-card>
                        <div slot="title">
                            {label.HVLoginLabel}
                        </div>
                        <span class="slds-text-color_error slds-text-title slds-p-horizontal_small">
                            {errorMessage}</span>
                        <div class="slds-grid slds-p-horizontal_small ">
                            <div class="slds-col slds-size_2-of-2">
                                <div class="slds-m-bottom_x-large slds-m-top_medium">
                                    <lightning-input class="email" type="text" value={username} variant="label-hidden"
                                        name="email" placeholder="Username" onchange={emailchange} label=" ">
                                    </lightning-input>
                                </div>
                                <div class=" slds-m-bottom_small">
                                    <lightning-input class="inputTypesPass" variant="label-hidden" type="password"
                                        placeholder="Password" value={upassword} onchange={passwordchange} label=" "
                                        name="password"></lightning-input>
                                </div>
                                <div
                                    class="slds-grid slds-grid_align-spread slds-grid_vertical-align-center slds-m-bottom_small">
                                    <!-- slds-m-top_medium slds-m-bottom_small  -->
                                    <div class="slds-col slds-m-bottom_small slds-text-align_right">
                                        <lightning-input onchange={togglePaswrd} type="checkbox" label="Show Password"
                                            name="showpassword"></lightning-input>
                                    </div>
                                    <div class="slds-col slds-m-bottom_small slds-text-align_right">
                                        <a href="javascript:void(0);" onclick={menuTriggerClick}
                                            class="slds-text-link_reset slds-text-color_weak">Forgot password?</a>
                                        <lightning-button-menu alternative-text="Show menu" variant="bare"
                                            onselect={handleOnselect} menu-alignment="right">
                                            <lightning-menu-item value="patient" label="Patient"></lightning-menu-item>
                                            <lightning-menu-item value="others" label="Others"></lightning-menu-item>
                                        </lightning-button-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-p-bottom_small slds-m-left_small">

                            <lightning-button variant="brand" label="Login" onclick={dologin}></lightning-button>
                        </div>
                    </lightning-card>
                </template>
                <template if:true={showforgotpassword}>
                    <c-hv-forgot-password role={selectedItemValue} onchild={backtoLogin}> </c-hv-forgot-password>
                </template>
            </template>
        </div>
    </div>
</template>