.slds-card__header{
    background-color: #014a7d !important;
} 
.slds-card__footer{
    background-color:  #f3f2f2 !important;
}
.errorText{
    padding: 0 15px;
    font-size: 11px;
    color: red;
}