<template>
<!--div style="background-color:orange">
<lightning-layout horizontal-align="space">
    <lightning-layout-item padding="around-small" flexibility="auto">
        <lightning-icon class="warning" icon-name="utility:warning" alternative-text="Warning!" variant="warning" size="small"></lightning-icon>
        <lightning-formatted-text value={message}></lightning-formatted-text>
    </lightning-layout-item>
</lightning-layout >
</div-->
<div class="slds-p-around_x-small">
<div class="slds-notify slds-notify_alert slds-alert_warning" role="alert">
<span class="slds-assistive-text">warning</span>
<span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
    <lightning-icon class="warning" icon-name="utility:warning" alternative-text="Warning!" variant="warning" size="small"></lightning-icon>
</span>
<h2>{message}</h2>
<div class="slds-notify__close">
    <!--lightning-button-icon icon-name="utility:close" onclick={handleClose} alternative-text="close"   class="slds-m-left_xx-small" title="Close"></lightning-button-icon-->
</div>
</div>
</div>
</template>