<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-17-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <template if:true={step1}>
        <div class="slds-grid">
            <div class="slds-col slds-size_12-of-12">
                <form>
                    <lightning-card>
                        <div slot="title">
                            Forgot Password
                        </div>
                        <span class="slds-text-color_error slds-text-title slds-p-horizontal_small"> {errorMessage}</span>
                        <div class="slds-grid slds-p-horizontal_small " if:true={ifPatientRole}>
                            <div class="slds-col slds-size_2-of-2">
                                <div class="slds-m-bottom_x-large slds-m-top_medium">
                                    <lightning-input type="text" variant="label-hidden" value={email} name="email"
                                        onchange={emailchange} placeholder="Patient id / Email" label=" " required>
                                    </lightning-input>
                                </div>
                                <div class=" slds-m-bottom_small">
                                    <lightning-input class="" variant="label-hidden" value={dob}
                                        type="date" onchange={dobchange} placeholder="DOB" label=" " name="Dob"
                                        required></lightning-input>
                                </div>
                            </div>
                        </div>

                        <div class="slds-grid slds-p-horizontal_medium" if:true={ifOtherRole}>
                            <div class="slds-col slds-size_2-of-2">
                                <div class="slds-m-bottom_x-large slds-m-top_medium">
                                    <lightning-input type="email" variant="label-hidden" value={email} name="email"
                                        onchange={emailchange} placeholder="Email" label=" " 
                                        pattern="[a-zA-Z0-9._-]+@[a-zA-Z]+.[a-zA-Z]{2,4}" 
                                        message-when-pattern-mismatch="Please Enter Valid Email"
                                        required></lightning-input>
                                </div>
                            </div>
                        </div>

                        <div
                            class="slds-grid slds-grid_align-spread slds-p-around_small slds-border_top slds-m-top_x-large">
                            <!-- <lightning-button variant="brand-outline" label="Cancel" onclick={cancelForgetPassrd}
                                class="slds-col"></lightning-button> -->
                                <c-hv-cancel-button-to-login></c-hv-cancel-button-to-login>
                            <lightning-button variant="brand" onclick={continueNext} label="Continue" class="slds-col">
                            </lightning-button>
                        </div>

                    </lightning-card>
                </form>
            </div>
        </div>
    </template>

    <template if:true={step2}>
        <c-hv-preferred-contact-method email={user.Email} phone={user.Phone} prefered-method={user.Contact.Preferred_Contact_Method__c} home-phone={user.Contact.Account.PersonHomePhone} onchild={haldleChild}></c-hv-preferred-contact-method>
    </template>

    <template if:true={step3}>
        <c-hv-otp-verification home-phone={user.Contact.Account.PersonHomePhone} otp={otp} phone={user.Phone} email={user.Email} selected-value={selectedValue}
            onchild={haldleChild}></c-hv-otp-verification>
    </template>

    <template if:true={step4}>
        <c-hv-change-password username={user.Username} onchild={haldleChild}></c-hv-change-password>
    </template>

</template>