.slds-alert_warning {
    background-color: #ffb75d;
    color: #080707;
}
.AfdetectedMultiCOlor p{
    z-index: 3;
    position: relative;
}

.AfdetectedMultiCOlor .slds-is-absolute
{
    z-index: 1;
    left: 0;
    height: 100%;
    top: 0;
}
.AfdetectedMultiCOlor .slds-is-absolute.slds-progress-bar__value_success{
    width: 100%;
}
.AfdetectedMultiCOlor .slds-is-absolute.slds-alert_warning{
    z-index: 2;
    left:-1px
}

.modal__container_custom {
    max-width: 90% !important;
    width: 90% !important;
}

.modal__content_custom {
    overflow: visible !important;
    overflow-y: visible !important;
    height: 100%;
}
.shownodata{
    color: rgb(37, 116, 169);
    font-weight: bold;
    font-size: x-large;
    margin-left: 40%;
}