<template>
    <template if:true={showspinner}>
        <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
    </template>
    <template if:false={showspinner}>
        <template if:true={iswatchsessionavailable}>
            <!-- statistics status -->
            <div class="slds-grid slds-gutters slds-m-vertical_small slds-wrap">
                <div class="slds-col slds-size_12-of-12 slds-text-align_center">
                    <div if:true={isPatient}
                        class="slds-text-color_inverse slds-var-p-around_xx-small backgroundStyleDark slds-progress-bar__value_success">
                        Patient recordings are successfully uploaded. Discuss results with your
                        physician.
                    </div>
                    <div if:true={afstatus2}
                        class="slds-text-color_inverse slds-var-p-around_xx-small slds-progress-bar__value_success">
                        No irregular pulse rhythms suggestive of atrial fibrillation were detected.
                    </div>
                    <div if:true={afstatus3}
                        class="slds-text-color_inverse slds-var-p-around_xx-small  slds-alert_warning">
                        Discuss results with your patient. Irregular pulse rhythms suggestive of
                        atrial fibrillation were detected. <br>
                        Scroll to review individual recording session.
                    </div>
                </div>
            </div>
            <!-- af options -->
            <div class="slds-grid slds-gutters slds-p-bottom_small slds-border_bottom">
                <div if:false={isPatient} class="slds-col">
                    <lightning-input type="toggle" label="Show AF Episodes only :" name="input1"
                        onchange={handelToggle}>
                    </lightning-input>
                </div>
            </div>
            <!-- pulse data -->
            <div>
                <template for:each={watchSessionsFinal} for:item="wSession" for:index="index">
                    <div key={wSession.Id} data-id={wSession.Id} class="slds-grid slds-gutters slds-m-vertical_small">
                        <!--<div class="slds-grid slds-gutters slds-m-vertical_small">-->
                        <div class="slds-col slds-size_12-of-12">
                            <div if:true={isPatient}
                                class="slds-box_xx-small slds-text-color_inverse slds-box slds-progress-bar__value_success">
                                <p>Pulse rhytm data is successfully uploaded</p>
                            </div>
                            <div if:true={wSession.afstatus2}
                                class="slds-box_xx-small slds-text-color_inverse slds-box slds-progress-bar__value_success">
                                <p>No irregular pulse rhythms suggestive of atrial fibrillation were detected.</p>
                            </div>
                            <div if:true={wSession.afstatus3}
                                class="slds-box_xx-small slds-box slds-is-relative AfdetectedMultiCOlor">
                                <div class="slds-alert_warning slds-is-absolute" style={wSession.afStyle}></div>
                                <div class="slds-progress-bar__value_success slds-is-absolute"></div>
                                <p>Possible pulse rate irregularities suggestive of atrial fibrillation were detected.
                                </p>
                            </div>
                            <div class="slds-grid  slds-m-bottom_small">
                                <div
                                    class="slds-col slds-size_1-of-5  slds-border_right slds-border_bottom slds-border_left">
                                    <div class="slds-media slds-p-vertical_small ">
                                        <div class="slds-media__figure">
                                            <lightning-icon icon-name="utility:event" alternative-text="event"
                                                title="event">
                                            </lightning-icon>
                                        </div>
                                        <div class="slds-media__body">
                                            {wSession.dayDate}
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-5 slds-border_right slds-border_bottom slds-border_left">
                                    <div class="slds-media slds-p-vertical_small ">
                                        <div class="slds-media__figure">
                                            <lightning-icon icon-name="utility:clock" alternative-text="clock"
                                                title="clock">
                                            </lightning-icon>
                                        </div>
                                        <div class="slds-media__body">
                                            <!-- From: 9:33 PM <br>
                                To: 10:53 PM -->
                                            From: {wSession.durationFrom} <br>
                                            To: {wSession.durationTo}
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-5 slds-border_right slds-border_bottom slds-border_left">
                                    <div class="slds-media slds-p-vertical_small ">
                                        <div class="slds-media__figure">
                                            <lightning-icon icon-name="utility:feed" alternative-text="feed"
                                                title="feed">
                                            </lightning-icon>
                                        </div>
                                        <div class="slds-media__body">
                                            Average Heart Rate: {wSession.averageHR}
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-5 slds-border_right slds-border_bottom slds-border_left">
                                    <div class="slds-media slds-p-vertical_small ">
                                        <div class="slds-media__figure">
                                            <lightning-icon icon-name="utility:trail" alternative-text="trail"
                                                title="trail">
                                            </lightning-icon>
                                        </div>
                                        <div class="slds-media__body">
                                            Step Count: {wSession.stepCount}
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-5 slds-border_right slds-border_bottom slds-border_left">
                                    <div class="slds-media slds-p-vertical_small " onclick={handleFrameClick}
                                        key={wSession.Id} id={wSession.Id}>
                                        <div class="slds-media__figure">
                                            <lightning-icon icon-name="utility:graph" alternative-text="trail"
                                                title="trail">
                                            </lightning-icon>
                                        </div>
                                        <div class="slds-media__body">
                                            Click here to view pulse data
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <template if:true={frameFlag}>
                <!-- Modal/Popup Box LWC starts here -->
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container modal__container_custom">
                        <!-- Modal/Popup Box LWC header here -->
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                title="Close" onclick={closeModal}>
                                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                    size="small"></lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                        </header>
                        <!-- Modal/Popup Box LWC body starts here -->
                        <div class="slds-modal__content modal__content_custom slds-p-around_medium"
                            id="modal-content-id-1">
                            <iframe style="height: 100%; width: 100%;" src={frameUrl}></iframe>
                        </div>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </template>
        </template>
        <template if:false={iswatchsessionavailable}>
            <h1 class="shownodata">No Data Available</h1>
        </template>
    </template>
    <c-hv-aws-sdk-connect reqendpoint={awsendpoint} reqmethod={awsmethod} reqbody={awsbody}
        reqidentifier={awscallidentifier} onawsresponsesuccess={handelAwsResponse}></c-hv-aws-sdk-connect>
</template>