<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 08-24-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-24-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div>
        <lightning-layout vertical-align="center" multiple-rows="true" class="x-large page">
            <lightning-layout-item padding="" size="12">
                <div class="page-section page-header">
                    <c-hv-header onchild={hanldleChild2}></c-hv-header>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small" size="12">
                <c-hv-broadcast-alert></c-hv-broadcast-alert>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small" size="12">
                <div class="page-section page-main">
                    <template if:true={showTabs}>
                        <lightning-tabset class="slds-tabs_large">
                            <template if:false={isassetusers}>
                                <lightning-tab label="Patient Table View" class="page">
                                    <lightning-tabset>
                                        <template if:true={rolesArray}>
                                            <template for:each={rolesArray} for:item="rolevalue">
                                                <lightning-tab key={Id} label={rolevalue.roleName}
                                                    value={rolevalue.roleName} onactive={handleActive}>
                                                    <template if:true={rolevalue.tabAccess}>
                                                        <c-hv-physician-dashboard onchild={hanldleChild}
                                                            role-name={rolevalue.roleName}
                                                            create-user-access={rolevalue.createUserAccess}
                                                            current-user-record={currentUserRecord}
                                                            column-api-name={rolevalue.columnApiName}>
                                                        </c-hv-physician-dashboard>
                                                    </template>
                                                </lightning-tab>
                                            </template>
                                        </template>
                                    </lightning-tabset>
                                </lightning-tab>
                            </template>
                            <!-- <lightning-tab label="Physician User Profile" class="page">
                                <c-hv-user-profile></c-hv-user-profile>
                            </lightning-tab> -->
                            <template if:true={isassetusers}>
                                <lightning-tab label="Inventory Management" class="page">
                                    <c-hv-inventory-management></c-hv-inventory-management>
                                </lightning-tab>
                            </template>
                        </lightning-tabset>
                    </template>
                    <template if:true={patientRegister}>
                        <div class="slds-no-print slds-p-vertical_small slds-m-bottom_small slds-border_bottom">
                            <!-- <lightning-button icon-name="utility:chevronleft" variant="brand" label="Back"
                                title="Primary action" onclick={revertBackDashboard}></lightning-button> -->
                        </div>
                        <c-hv-patient-registration-dynamic onbackcall={revertBackDashboard}>
                        </c-hv-patient-registration-dynamic>
                    </template>
                    <template if:true={userProfile}>
                        <div class="slds-no-print slds-p-vertical_small slds-m-bottom_small slds-border_bottom">
                            <lightning-button icon-name="utility:chevronleft" variant="brand" label="Back"
                                title="Primary action" onclick={revertBackDashboard}></lightning-button>
                        </div>
                        <c-hv-user-profile></c-hv-user-profile>
                    </template>
                    <template if:true={physicianRegister}>
                        <div class="slds-no-print slds-p-vertical_small slds-m-bottom_small slds-border_bottom">
                            <!--  <lightning-button icon-name="utility:chevronleft" variant="brand" label="Back"
                                title="Primary action" onclick={revertBackDashboard}></lightning-button> -->
                        </div>

                        <template if:true={roleName}>
                            <c-hv-physician-registration role-value={roleName} onbackcall={revertBackDashboard}>
                            </c-hv-physician-registration>
                        </template>
                    </template>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="" size="12">
                <div class="page-section page-footer">
                    <c-hv-footer></c-hv-footer>
                </div>
            </lightning-layout-item>
        </lightning-layout>

        <c-hv-popup is-consent-open={isPatientAndFirstLogin}></c-hv-popup>
    </div>
</template>