<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-14-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   07-07-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>

	<template if:false={showPatientProfile}>

		<template if:true={showSpinner}>
			<lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
		</template>

		<template if:false={showSpinner}>
			<span class="slds-text-color_error slds-text-heading_medium slds-p-horizontal_small slds-no-print">{errorMessage}</span>
			<lightning-layout vertical-align="center" multiple-rows="true" class="x-large">
				<!-- Navigation Path for Step 1, Step 2, Step 3 -->
				<lightning-layout-item padding="" size="12">
					<div class=" slds-p-vertical_medium slds-p-horizontal_medium slds-m-bottom_medium slds-no-print">
						<lightning-progress-indicator current-step={currentStep} type="base" variant="base">
							<lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
							<lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
							<lightning-progress-step label="Step 3" value="3"></lightning-progress-step>
						</lightning-progress-indicator>
					</div>
				</lightning-layout-item>
				<!--End Navigation Path-->
				<lightning-layout-item padding="" size="12" data-name="printBlockContainer" class="customPrintDiv">

					<lightning-card variant="Narrow" title="Patient Account Creation" icon-name="standard:account">
						<!-- Step 1 of Patient Registration - Create Account -->
						<div id="step1" if:true={stepCondition1}>
							<div class="slds-grid slds-p-vertical_medium slds-p-horizontal_medium- fixedHeight">
								<div class="slds-col slds-size_12-of-12">
									<lightning-accordion class="step1-registration" active-section-name={activeSections}
										allow-multiple-sections-open onsectiontoggle={handleToggleSection}>
										<!--- Section General Information -->
										<lightning-accordion-section name="A" label="General Information">
											<!-- First name & Last Name -->
											<lightning-layout multiple-rows>
												<lightning-layout-item size="12" small-device-size="6"
													medium-device-size="6" large-device-size="6" padding="around-small">
													<lightning-input name="FirstName" type="text" required
														label="First Name" value={personAccountObject.FirstName}
														onblur={callPatientId} onchange={inputFieldOnchange}
														variant="label-inline" pattern="[a-zA-Z0-9]+"
														message-when-pattern-mismatch="First name cannot include space or special character">
													</lightning-input>
												</lightning-layout-item>
												<lightning-layout-item size="12" small-device-size="6"
													medium-device-size="6" large-device-size="6" padding="around-small">
													<lightning-input name="LastName" type="text" required
														label="Last Name" value={personAccountObject.LastName}
														onblur={callPatientId} onchange={inputFieldOnchange}
														variant="label-inline" pattern="[a-zA-Z0-9]+"
														message-when-pattern-mismatch="Last name cannot include space or special character">
													</lightning-input>
												</lightning-layout-item>
												<!-- DOB & Gender -->
												<lightning-layout-item data-id="PersonBirthdate" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<lightning-input type="date" name="PersonBirthdate"
														data-id="PersonBirthdate"
														value={personAccountObject.PersonBirthdate}
														variant="label-inline" label="Date of Birth"
														onchange={inputFieldOnchange} max={maxdate}
														message-when-too-long="Age should be above 18 years">
													</lightning-input>
												</lightning-layout-item>
												<lightning-layout-item data-id="HealthCloudGA__Gender__pc" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<lightning-combobox name="HealthCloudGA__Gender__pc"
														data-id="HealthCloudGA__Gender__pc" variant="label-inline"
														label="Gender"
														value={personAccountObject.HealthCloudGA__Gender__pc}
														onchange={inputFieldOnchange} placeholder="Select Gender"
														options={genderOptions}></lightning-combobox>
												</lightning-layout-item>
												<!-- Height -->
												<lightning-layout-item data-id="HV_Height__pc" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<lightning-input name="HV_Height__pc" data-id="HV_Height__pc"
														type="text" value={personAccountObject.HV_Height__pc}
														variant="label-inline" onchange={inputFieldOnchange}
														label="Height (in)">
													</lightning-input>
												</lightning-layout-item>
												<!-- Prescribed By & Facility -->
												<lightning-layout-item data-id="HV_Prescribed_By__pc" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<div class=" slds-m-bottom_small">
														<template if:false={showPrescribedByList}>
															<lightning-input name="HV_Prescribed_By__pc"
																label="Prescribed By" data-id="HV_Prescribed_By__pc"
																value={personAccountObject.HV_Prescribed_By__pc}
																placeholder="Select Prescribed By" variant="label-inline"
																readonly onchange={inputFieldOnchange}>
															</lightning-input>
														</template>
														<template if:true={showPrescribedByList}>
															<lightning-combobox name="HV_Prescribed_By__pc"
																label="Prescribed By"
																value={personAccountObject.HV_Prescribed_By__pc}
																placeholder="Prescribed By"
																options={prescribedByOptions}
																onchange={inputFieldOnchange} variant="label-inline"
																dropdown-alignment="auto">
															</lightning-combobox>
														</template>
													</div>
												</lightning-layout-item>
												<lightning-layout-item data-id="HV_Patient_Clinic__c" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<div class=" slds-m-bottom_small">
														<lightning-input name="HV_Patient_Clinic__c" type="text"
															label="Organization" variant="label-inline"
															placeholder="Organization" data-id="HV_Patient_Clinic__c"
															value={clinicName} onchange={inputFieldOnchange} readonly>
														</lightning-input>
													</div>
												</lightning-layout-item>
												<!-- Notes -->
												<lightning-layout-item data-id="notes" size="12" small-device-size="6"
													medium-device-size="6" large-device-size="6" padding="around-small">
													<lightning-textarea name="notes" data-id="notes"
														label="Patient Notes" value={notes} variant="label-inline"
														onchange={inputFieldOnchange}
														placeholder="Type notes here to be saved in the patient’s profile">
													</lightning-textarea>
												</lightning-layout-item>
											</lightning-layout>
											<lightning-layout multiple-rows>
												<lightning-layout-item data-id="HV_Department__pc" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<lightning-dual-listbox name="HV_Department__pc" label="Department"
														data-id="HV_Department__pc" value={selectedDepartment}
														source-label="Available" selected-label="Selected"
														field-level-help="Select your Department"
														options={departmentOptions} onchange={inputFieldOnchange}>
													</lightning-dual-listbox>
												</lightning-layout-item>
											</lightning-layout>
										</lightning-accordion-section>
										<!--- End Section General Information -->
										<!--- Section Contact Information -->
										<lightning-accordion-section name="B" label="Contact Information">
											<lightning-layout multiple-rows>
												<!-- Prefred Contact Method & Email -->
												<lightning-layout-item data-id="Preferred_Contact_Method__pc" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<lightning-radio-group name="Preferred_Contact_Method__pc"
														data-id="Preferred_Contact_Method__pc"
														label="Preferred Contact Type" options={preferredcontactoptions}
														value={personAccountObject.Preferred_Contact_Method__pc}
														type="radio" variant="label-inline"
														onchange={inputFieldOnchange}>
													</lightning-radio-group>
												</lightning-layout-item>
												<lightning-layout-item data-id="PersonEmail" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<lightning-input variant="label-inline" type="email"
														name="PersonEmail" value={personAccountObject.PersonEmail}
														label="Email" data-id="PersonEmail" required={emailRequired}
														onblur={validateEmailAddress} onchange={inputFieldOnchange}>
													</lightning-input>
												</lightning-layout-item>
												<!-- Cell Phone & Home Phone -->
												<template if:true={showphonenumber}>
													<lightning-layout-item data-id="Phone" size="12"
														small-device-size="6" medium-device-size="6"
														large-device-size="6" padding="around-small">
														<lightning-input type="tel" variant="label-inline"
															label="Cell Phone" data-id="Phone" name="Phone"
															value={personAccountObject.Phone}
															onchange={inputFieldOnchange} required={cellphoneRequired}
															pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
															message-when-pattern-mismatch="Enter Valid 10 digit Cell Phone Number in format XXX-XXX-XXXX"
															placeholder="" class="cellphone"> </lightning-input>
													</lightning-layout-item>
												</template>
												<lightning-layout-item data-id="PersonHomePhone" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<lightning-input type="tel"
														value={personAccountObject.PersonHomePhone}
														variant="label-inline" label="Home Phone"
														data-id="PersonHomePhone" name="PersonHomePhone"
														onchange={inputFieldOnchange}
														pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
														message-when-pattern-mismatch="Enter Valid 10 digit Home Phone Number in format XXX-XXX-XXXX"
														placeholder=""
														required={homephoneRequired}> </lightning-input>
												</lightning-layout-item>
												<!--Shipping Address-->
												<lightning-layout-item data-id="ShippingAddress" size="12"
													small-device-size="6" medium-device-size="6" large-device-size="6"
													padding="around-small">
													<lightning-input-address name="ShippingAddress"
														data-id="ShippingAddress"
														value={personAccountObject.ShippingAddress}
														onchange={inputFieldOnchange} address-label="Shipping Address"
														street-label="Street" city-label="City" country-label="Country"
														province-label="Province" postal-code-label="Postal Code"
														street={personAccountObject.ShippingStreet}
														city={personAccountObject.ShippingCity}
														country={personAccountObject.ShippingCountry}
														province={personAccountObject.ShippingState}
														postal-code={personAccountObject.ShippingPostalCode}
														show-address-lookup field-level-help="Select Shipping Address">
													</lightning-input-address>
												</lightning-layout-item>
												<!-- OPT IN FOR 2 FACTOR AUTHENTACTION-->
												<lightning-layout-item data-id="HV_isTwoFactorAuthentactionEnabled__pc"
													size="12" small-device-size="6" medium-device-size="6"
													large-device-size="6" padding="around-small">
													<lightning-radio-group name="HV_isTwoFactorAuthentactionEnabled__pc"
														label="OPT in for Two Factor Authentication"
														options={optionsforOptInTwoFactor} value={selectedOptInValue}
														data-id="HV_isTwoFactorAuthentactionEnabled__pc"
														variant="label-inline" onchange={inputFieldOnchange}
														type="button">
													</lightning-radio-group>
												</lightning-layout-item>
												<!--End Opt In-->
											</lightning-layout>
										</lightning-accordion-section>
										<!--- End Section Contact Information -->
										<!-- Section Account Creation-->
										<lightning-accordion-section name="C" label="Account Creation">
											<lightning-layout multiple-rows>
												<!-- Username/PatientId -->
												<lightning-layout-item size="12" small-device-size="6"
													medium-device-size="6" large-device-size="6" padding="around-small">
													<lightning-combobox name="HV_Patient_ID__pc" label="Username"
														value={personAccountObject.HV_Patient_ID__pc}
														variant="label-inline" onchange={inputFieldOnchange} required
														placeholder="Select ID" options={patientIdsOptions}>
													</lightning-combobox>
												</lightning-layout-item>
												<lightning-layout-item size="12" small-device-size="6"
													medium-device-size="6" large-device-size="6" padding="around-small">
												</lightning-layout-item>
												<!-- New password & confirm Password  -->
												<lightning-layout-item size="12" small-device-size="6"
													medium-device-size="6" large-device-size="6" padding="around-small">
													<lightning-input class="inputTypesPass" type="password"
														variant="label-inline" label="New Password"
														name="HV_Password__pc" min-length=8 required
														pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[_^\w\s]).{8,}$"
														message-when-pattern-mismatch="Password should consist of minimum 8 characters and contain atleast one lowercase, one uppercase, one number and one special character"
														message-when-too-short="Password should consist of minimum 8 characters"
														value={personAccountObject.HV_Password__pc}
														onchange={inputFieldOnchange}> </lightning-input>
												</lightning-layout-item>
												<lightning-layout-item size="12" small-device-size="6"
													medium-device-size="6" large-device-size="6" padding="around-small">
													<lightning-input class="inputTypesPass" type="password"
														variant="label-inline" label="Confirm New Password"
														name="confirmPassword" value={confirmPassword} required
														pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[_^\w\s]).{8,}$"
														message-when-pattern-mismatch="Password should consist of minimum 8 characters and contain atleast one lowercase, one uppercase, one number and one special character"
														message-when-too-short="Password should consist of minimum 8 characters"
														onchange={inputFieldOnchange}> </lightning-input>
												</lightning-layout-item>
												<!-- Show Password -->
												<lightning-layout-item size="12" small-device-size="6"
													medium-device-size="6" large-device-size="6" padding="around-small">
													<div class=" slds-m-bottom_small">
														<lightning-input onchange={togglePaswrd} type="checkbox"
															label="Show Password" name="showpassword">
														</lightning-input>
													</div>
												</lightning-layout-item>
											</lightning-layout>
										</lightning-accordion-section>
										<!-- End Section Account Creation-->
									</lightning-accordion>
								</div>
							</div>
						</div>
						<!-- End Step 1 of Patient Registration -->
						<!-- Step 2 of Patient Registration - Verify -->
						<div id="step2" if:true={stepCondition2}>
							<div class="slds-grid slds-p-vertical_medium slds-p-horizontal_medium fixedHeight">
								<div class="slds-col slds-size_12-of-12">
									<!-- Patient have box Yes / No 
									<div class="slds-m-bottom_small">
										<lightning-radio-group name="havBoxId" label="Does the user has Halo system?"
											options={boxExistsOption} value={isBoxExist} variant="label-inline"
											onchange={inputFieldOnchange} required type="button">
										</lightning-radio-group>
									</div>-->
									<!-- If Box Exists - box id search -->
									<div class="slds-m-bottom_small" if:true={isHavBox}>
										<lightning-layout multiple-rows>
											<!-- Search Box -->
											<lightning-layout-item size="12" small-device-size="6"
												medium-device-size="6" large-device-size="6" padding="around-small">
												<lightning-input name="HV_Box_ID__pc" type="text" label="LIVMOR BOX ID"
													value={boxObject.Name} onchange={boxChange} required>
												</lightning-input>
												<div class="slds-text-color_error">
													<template if:true={boxmsg}> {boxmsg} </template>
												</div>

											</lightning-layout-item>
											<!--View Pheriheral Device Button-->
											<lightning-layout-item size="12" small-device-size="6"
												medium-device-size="6" large-device-size="6" padding="around-small">
												<div class="boxButtonClass slds-m-top_medium">
													<lightning-button name="view" label="Validate Presciption"
														onclick={handleBoxData}> </lightning-button>
												</div>
											</lightning-layout-item>
										</lightning-layout>
										<template if:true={isBoxModalOpen}>
											<!-- Show Box and its related device Details in Modal-->
											<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
												aria-modal="true" aria-describedby="modal-content-id-1"
												class="slds-modal slds-fade-in-open">
												<div class="slds-modal__container">
													<!-- Modal Header-->
													<header class="slds-modal__header">
														<button
															class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
															title="Close" onclick={closeModal}>
															<lightning-icon icon-name="utility:close"
																alternative-text="close" variant="inverse" size="small">
															</lightning-icon> <span
																class="slds-assistive-text">Close</span>
														</button>
														<h2 id="modal-heading-01"
															class="slds-text-heading_medium slds-hyphenate">Inventory
															Asset
															Detail</h2>
													</header>
													<!-- Modal Body -->
													<div class="slds-modal__content slds-p-around_medium"
														id="modal-content-id-1">
														<lightning-layout multiple-rows>
															<lightning-layout-item size="12" small-device-size="12"
																medium-device-size="6" large-device-size="4"
																padding="around-small">
																<b>Watch</b>
																<template if:true={boxObject.watchId}>
																	<template for:each={boxObject.watchId}
																		for:item="element">
																		<lightning-layout key={Id} multiple-rows>
																			<lightning-layout-item size="12"
																				small-device-size="12"
																				medium-device-size="12"
																				large-device-size="12">
																				{element.HV_Watch_ID__c}
																			</lightning-layout-item>
																		</lightning-layout>
																	</template>
																</template>
															</lightning-layout-item>
															<lightning-layout-item size="12" small-device-size="12"
																medium-device-size="6" large-device-size="4"
																padding="around-small">
																<b>BP</b>
																<template if:true={boxObject.bp}>
																	<template for:each={boxObject.bp}
																		for:item="element">
																		<lightning-layout key={Id} multiple-rows>
																			<lightning-layout-item size="12"
																				small-device-size="12"
																				medium-device-size="6"
																				large-device-size="4">
																				{element.HV_BDA__c}
																			</lightning-layout-item>
																		</lightning-layout>
																	</template>
																</template>
															</lightning-layout-item>
															<lightning-layout-item size="12" small-device-size="12"
																medium-device-size="6" large-device-size="4"
																padding="around-small">
																<b>Pluse Oximeter</b>
																<template if:true={boxObject.poMeter}>
																	<template for:each={boxObject.poMeter}
																		for:item="element">
																		<lightning-layout key={Id} multiple-rows>
																			<lightning-layout-item size="12"
																				small-device-size="12"
																				medium-device-size="6"
																				large-device-size="4">
																				{element.HV_BDA__c}
																			</lightning-layout-item>
																		</lightning-layout>
																	</template>
																</template>
															</lightning-layout-item>
															<lightning-layout-item size="12" small-device-size="12"
																medium-device-size="6" large-device-size="4"
																padding="around-small">
																<b>Spirometer</b>
																<template if:true={boxObject.spirometer}>
																	<template for:each={boxObject.spirometer}
																		for:item="element">
																		<lightning-layout key={Id} multiple-rows>
																			<lightning-layout-item size="12"
																				small-device-size="12"
																				medium-device-size="6"
																				large-device-size="4">
																				{element.HV_BDA__c}
																			</lightning-layout-item>
																		</lightning-layout>
																	</template>
																</template>
															</lightning-layout-item>
															<lightning-layout-item size="12" small-device-size="12"
																medium-device-size="6" large-device-size="4"
																padding="around-small">
																<b>WSS</b>
																<template if:true={boxObject.wss}>
																	<template for:each={boxObject.wss}
																		for:item="element">
																		<lightning-layout key={Id} multiple-rows>
																			<lightning-layout-item size="12"
																				small-device-size="12"
																				medium-device-size="6"
																				large-device-size="4">
																				{element.HV_BDA__c}
																			</lightning-layout-item>
																		</lightning-layout>
																	</template>
																</template>
															</lightning-layout-item>
															<lightning-layout-item size="12" small-device-size="12"
																medium-device-size="6" large-device-size="4"
																padding="around-small">
																<b>Tablet</b>
																<template if:true={boxObject.tablet}>
																	<template for:each={boxObject.tablet}
																		for:item="element">
																		<lightning-layout key={Id} multiple-rows>
																			<lightning-layout-item size="12"
																				small-device-size="12"
																				medium-device-size="6"
																				large-device-size="4">
																				{element.HV_IMEI__c}
																			</lightning-layout-item>
																		</lightning-layout>
																	</template>
																</template>
															</lightning-layout-item>
															<lightning-layout-item size="12" small-device-size="12"
																medium-device-size="6" large-device-size="4"
																padding="around-small">
																<b>Glucometer</b>
																<template if:true={boxObject.glucometer}>
																	<template for:each={boxObject.glucometer}
																		for:item="element">
																		<lightning-layout key={Id} multiple-rows>
																			<lightning-layout-item size="12"
																				small-device-size="12"
																				medium-device-size="6"
																				large-device-size="4">
																				{element.HV_BDA__c}
																			</lightning-layout-item>
																		</lightning-layout>
																	</template>
																</template>
															</lightning-layout-item>
														</lightning-layout>
													</div>
													<!-- Modal footer -->
													<footer class="slds-modal__footer">
														<button
															class="slds-button slds-button_neutral slds-m-center_x-small"
															onclick={closeModal} title="Cancel">Cancel</button>
													</footer>
												</div>
											</section>
											<div class="slds-backdrop slds-backdrop_open"></div>
											<!-- Modal End -->
										</template>
									</div>
									<!-- Shipping Address 
									<div class=" slds-m-bottom_small " if:false={isHavBox}>
										<lightning-input-address name="ShippingAddress"
											value={personAccountObject.ShippingAddress} onchange={inputFieldOnchange}
											address-label="Shipping Address" street-label="Street" city-label="City"
											country-label="Country" province-label="Province"
											postal-code-label="Postal Code" street={personAccountObject.ShippingStreet}
											city={personAccountObject.ShippingCity}
											country={personAccountObject.ShippingCountry}
											province={personAccountObject.ShippingState}
											postal-code={personAccountObject.ShippingPostalCode} required
											show-address-lookup field-level-help="Select Shipping Address">
										</lightning-input-address>
									</div>-->
								</div>
							</div>
						</div>
						<!-- End Step 2 of Patient Registration - Verify -->
						<!-- Step 3 of Patrient Registration - Review and Finish-->
						<div id="step3" if:true={stepCondition3}>
							<div class="slds-grid slds-p-vertical_medium slds-p-horizontal_medium fixedHeight">
								<!-- Show Print Button -->
								<div class="slds-col slds-size_12-of-12" data-id="printblock">
									<lightning-button variant="brand" label="Print" onclick={printDocument}
										class="slds-m-left_small slds-float_right  slds-no-print"></lightning-button>
									<!-- Show Details to Review In TimeLine Format-->
									<ul class="slds-timeline">
										<!-- General Information -->
										<li>
											<div
												class="slds-timeline__item_expandable slds-timeline__item_call slds-is-open">
												<span class="slds-assistive-text">General Information</span>
												<div class="slds-media">
													<div class="slds-media__figure">
														<div class="slds-icon_container  slds-timeline__icon slds-m-left_medium"
															title="General Information">
															<lightning-icon size="small" icon-name="doctype:gsheet"
																alternative-text="Toggle details for General Information">
															</lightning-icon>
														</div>
													</div>
													<div class="slds-media__body">
														<div
															class="slds-grid slds-grid_align-spread slds-timeline__trigger">
															<div
																class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
																<h3 class="slds-truncate" title="General Information">
																	<a href="#">
																		<strong>General Information</strong>
																	</a>
																</h3>
															</div>
														</div>
														<article
															class="slds-box slds-scrollable_none slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small slds-p-around_medium"
															id="general-information-expanded">
															<div class="slds-region_narrow">
																<dl class="slds-dl_inline">
																	<div>
																		<dt class="slds-dl_inline__label">First Name :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.FirstName}</dd>
																	</div>
																	<div>
																		<dt class="slds-dl_inline__label">Last Name :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.LastName}</dd>
																	</div>
																	<div data-id="PersonBirthdate">
																		<dt class="slds-dl_inline__label">DOB :</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.PersonBirthdate}</dd>
																	</div>
																	<div data-id="HealthCloudGA__Gender__pc">
																		<dt class="slds-dl_inline__label">Gender :</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.HealthCloudGA__Gender__pc}
																		</dd>
																	</div>
																	<div data-id="HV_Height__pc">
																		<dt class="slds-dl_inline__label">Height :</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.HV_Height__pc}</dd>
																	</div>
																	<div data-id="HV_Department__pc">
																		<dt class="slds-dl_inline__label">Department :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.HV_Department__pc}</dd>
																	</div>
																	<div data-id="HV_Prescribed_By__pc">
																		<dt class="slds-dl_inline__label">Prescribed By
																			:
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.HV_Prescribed_By__pc}
																		</dd>
																	</div>
																	<div data-id="HV_Patient_Clinic__c">
																		<dt class="slds-dl_inline__label">Organization :
																		</dt>
																		<dd class="slds-dl_inline__detail"> {clinicName}
																		</dd>
																	</div>
																	<div data-id="notes">
																		<dt class="slds-dl_inline__label">Notes :</dt>
																		<dd class="slds-dl_inline__detail">
																			{notes}</dd>
																	</div>
																</dl>
															</div>
														</article>
													</div>
												</div>
											</div>
										</li>
										<!--End General Information -->
										<!-- Contact Information -->
										<li>
											<div
												class="slds-timeline__item_expandable slds-timeline__item_call slds-is-open">
												<span class="slds-assistive-text">Contact Information</span>
												<div class="slds-media">
													<div class="slds-media__figure">
														<div class="slds-icon_container  slds-timeline__icon slds-m-left_medium"
															title="Contact Information">
															<lightning-icon size="small" icon-name="standard:call"
																alternative-text="Toggle details for Contact Information">
															</lightning-icon>
														</div>
													</div>
													<div class="slds-media__body">
														<div
															class="slds-grid slds-grid_align-spread slds-timeline__trigger">
															<div
																class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
																<h3 class="slds-truncate" title="Contact Information">
																	<a href="#">
																		<strong>Contact Information</strong>
																	</a>
																</h3>
															</div>
														</div>
														<article
															class="slds-box slds-scrollable_none slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small slds-p-around_medium"
															id="contact-information-expanded">
															<div class="slds-region_narrow">
																<dl class="slds-dl_inline">
																	<div data-id="Preferred_Contact_Method__pc">
																		<dt class="slds-dl_inline__label">Preferred
																			contact
																			:
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.Preferred_Contact_Method__pc}
																		</dd>
																	</div>
																	<div data-id="Phone">
																		<dt class="slds-dl_inline__label">Cell Phone :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.Phone}</dd>
																	</div>
																	<div data-id="PersonHomePhone">
																		<dt class="slds-dl_inline__label">Home Phone :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.PersonHomePhone}</dd>
																	</div>
																	<div data-id="PersonEmail">
																		<dt class="slds-dl_inline__label">Email :</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.PersonEmail}</dd>
																	</div>
																	<div
																		data-id="HV_isTwoFactorAuthentactionEnabled__pc">
																		<dt class="slds-dl_inline__label">OPT in for Two
																			Factor Authentication :</dt>
																		<dd class="slds-dl_inline__detail">
																			{selectedOptInValue}</dd>
																	</div>
																	<div data-id="ShippingAddress">
																		<dt class="slds-dl_inline__label">Shipping
																			Address : </dt>
																		<dt class="slds-dl_inline__label">Street :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.ShippingStreet}
																		</dd>
																		<dt class="slds-dl_inline__label">City :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.ShippingCity}
																		</dd>
																		<dt class="slds-dl_inline__label">Country :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.ShippingCountry}
																		</dd>
																		<dt class="slds-dl_inline__label">Province :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.ShippingState}
																		</dd>
																		<dt class="slds-dl_inline__label">Postal
																			Code :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.ShippingPostalCode}
																		</dd>
																	</div>
																</dl>
															</div>
														</article>
													</div>
												</div>
											</div>
										</li>
										<!-- End Contact Information-->
										<!-- Account Information -->
										<li>
											<div
												class="slds-timeline__item_expandable slds-timeline__item_call slds-is-open">
												<span class="slds-assistive-text">Account Information</span>
												<div class="slds-media">
													<div class="slds-media__figure">
														<div class="slds-icon_container  slds-timeline__icon slds-m-left_medium"
															title="Account Information">
															<lightning-icon size="small" icon-name="standard:account"
																alternative-text="Toggle details for Account Information">
															</lightning-icon>
														</div>
													</div>
													<div class="slds-media__body">
														<div
															class="slds-grid slds-grid_align-spread slds-timeline__trigger">
															<div
																class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
																<h3 class="slds-truncate" title="Account Information">
																	<a href="#">
																		<strong>Account Information</strong>
																	</a>
																</h3>
															</div>
														</div>
														<article
															class="slds-box slds-scrollable_none slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small slds-p-around_medium"
															id="account-information-expanded">
															<div class="slds-region_narrow">
																<dl class="slds-dl_inline">
																	<div>
																		<dt class="slds-dl_inline__label">Username :
																		</dt>
																		<dd class="slds-dl_inline__detail">
																			{personAccountObject.HV_Patient_ID__pc}</dd>
																	</div>
																</dl>
															</div>
														</article>
													</div>
												</div>
											</div>
										</li>
										<!-- End Account Information -->
										<!-- Box Information -->
										<li>
											<div
												class="slds-timeline__item_expandable slds-timeline__item_call slds-is-open">
												<span class="slds-assistive-text">Box Information</span>
												<div class="slds-media">
													<div class="slds-media__figure">
														<div class="slds-icon_container  slds-timeline__icon slds-m-left_medium"
															title="Box Information">
															<lightning-icon size="small" icon-name="standard:case"
																alternative-text="Toggle details for Box Information">
															</lightning-icon>
														</div>
													</div>
													<div class="slds-media__body">
														<div
															class="slds-grid slds-grid_align-spread slds-timeline__trigger">
															<div
																class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
																<h3 class="slds-truncate" title="Box Information">
																	<a href="#">
																		<strong>Box Information</strong>
																	</a>
																</h3>
															</div>
														</div>
														<article
															class="slds-box slds-scrollable_none slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small slds-p-around_medium"
															id="box-information-expanded">
															<div class="slds-region_narrow" style="width:360px">
																<dl class="slds-dl_inline">
																	<!--<div>
																		<dt class="slds-dl_inline__label">Do you have a
																			Box
																			?
																		</dt>
																		<dd class="slds-dl_inline__detail">{isBoxExist}
																		</dd>
																	</div>-->
																	<template if:true={isHavBox}>
																		<div>
																			<dt class="slds-dl_inline__label">BOX ID :
																			</dt>
																			<dd class="slds-dl_inline__detail">
																				{boxObject.Name}
																			</dd>
																		</div>
																	</template>
																	<!--<template if:false={isHavBox}>
																		<div>
																			<dt class="slds-dl_inline__label">Shipping
																				Address : </dt>
																			<dt class="slds-dl_inline__label">Street :
																			</dt>
																			<dd class="slds-dl_inline__detail">
																				{personAccountObject.ShippingStreet}
																			</dd>
																			<dt class="slds-dl_inline__label">City :
																			</dt>
																			<dd class="slds-dl_inline__detail">
																				{personAccountObject.ShippingCity}
																			</dd>
																			<dt class="slds-dl_inline__label">Country :
																			</dt>
																			<dd class="slds-dl_inline__detail">
																				{personAccountObject.ShippingCountry}
																			</dd>
																			<dt class="slds-dl_inline__label">Province :
																			</dt>
																			<dd class="slds-dl_inline__detail">
																				{personAccountObject.ShippingState}
																			</dd>
																			<dt class="slds-dl_inline__label">Postal
																				Code :
																			</dt>
																			<dd class="slds-dl_inline__detail">
																				{personAccountObject.ShippingPostalCode}
																			</dd>
																		</div>
																	</template> -->
																</dl>
															</div>
														</article>
													</div>
												</div>
											</div>
										</li>
										<!-- End Box Information -->
									</ul>
								</div>
							</div>
						</div>
						<!-- End Step 3 of Patrient Registration - Review and Finish-->
						<!--Footer Buttons-->
						<div slot="footer">
							<div
								class="slds-no-print slds-grid slds-grid_vertical-align-center slds-grid_align-spread ">
								<div class="slds-cols">
									<lightning-button variant="brand" label="Cancel" title="Cancel"
										onclick={cancleClick} class="slds-m-left_x-small"></lightning-button>
								</div>
								<div class="slds-cols">
									<lightning-button disabled={prevDisable} variant="brand" label="Previous"
										title="Previous" onclick={previous}></lightning-button>
									<lightning-button disabled={nextDisable} variant="brand" label={nextLabel}
										title="Next" onclick={next} class="slds-m-left_small"></lightning-button>
								</div>
							</div>
						</div>
						<!-- End Footer -->
					</lightning-card>
				</lightning-layout-item>
			</lightning-layout>
			<template if:true={showExistingUserModal}>
				<c-hv-modal modalheader={existinguserheader} modalbody={existinguserbody}
					closebuttonlabel={existingusercloselabel} okbuttonlabel={existinguseroklabel}
					onclosemodal={handleexistingmodalclose} onsubmistmodal={handleexistingusersubmitmodal}></c-hv-modal>
			</template>
		</template>
	</template>
	<template if:true={showPatientProfile}>
		<div class="slds-grid slds-p-bottom_small slds-grid_align-spread slds-wrap">
			<lightning-button class="slds-col" variant="brand" label=" " icon-name="utility:chevronleft" name="back"
				onclick={cancleClick}>
			</lightning-button>
		</div>
		<c-hv-user-profile currentuserrecord={patientUserData}></c-hv-user-profile>
	</template>
	<template if:true={showfacilityselect}>
		<c-hv-modal modalheader="Select Facilility to Create Patient" modalbody="Select Facility"
			closebuttonlabel="Cancel" okbuttonlabel="Next" onclosemodal={handleexistingmodalclose}
			onsubmistmodal={handleexistingusersubmitmodal}></c-hv-modal>
	</template>
</template>