.HideField{
    display:none;
}
.printdiv{
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 9;
    width: 100%;
    left: 0;
}
.slds-timeline{
    width:100%;
    clear:both;
}
.boxButtonClass{
    padding: 3%;
}
.customPrint.customPrintActive .slds-card__header{
display:none !important;
}
.customPrint{
    width:100% !important;
}