.cursorDrag{
    cursor:move;
}
/* .cursorDrag .Items{
    cursor:pointer !important;
} */
.customIcon{
    /* top: 8px;
    padding-right: 0;
    left: 0;
    border-right: 1px solid #c3c3c3;
    border-radius: 0; */
    top: 50%;
    padding-right: 0;
    left: 3px;
    /* border-right: 1px solid #c3c3c3; */
    border-radius: 0;
    transform: translateY(-50%);
}
[lightning-input_input]{
    cursor:pointer !important;
}
.backgroundStyle{
    background : #dfe8f24f;
}
.divsize{
    height:500px !important;
    width: 100% !important;
}
.shownodata{
    color: rgb(37, 116, 169);
    font-weight: bold;
    font-size: x-large;
    margin-left: 40%;
    margin-top:10%;
}
.spinnershow{
    margin-top: 10% !important;
}