<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-16-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-24-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={isLoading}>
        <lightning-spinner alternative-text="Loading" size="medium" variant="brand" class="spinnershow"></lightning-spinner>
    </template>
    <template if:false={isLoading}>
        <template if:false={showdatable}>
            <div class="slds-grid slds-grid_align-spread slds-wrap">
                <div
                    class="slds-col slds-col  slds-size_1-of-1 slds-large-size_1-of-3  slds-medium-size_1-of-3 slds-small-size_1-of-1 ">
                    <div>
                        <lightning-input name="enter-search" label="Search" type="search" onchange={handleSearch}
                            value={searchvalue}>
                        </lightning-input>
                    </div>
                </div>
                <div class="slds-col slds-grid slds-m-top_large slds-wrap">
                    <template if:true={showoffboardbutton}>
                        <c-hv-offboarding userid={selectedContactId} selected-rows={selectedRows}></c-hv-offboarding>
                    </template>
                    <template if:true={userRoleLabel}>
                        <template if:false={isPatient}>
                            <div class="slds-button slds-button_neutral slds-m-left_large">
                                <lightning-button label={userRoleLabel} onclick={navigateToRegisterPhysician}
                                    icon-name="utility:adduser" variant="base"></lightning-button>
                                <!--  menuTriggerClick-->
                            </div>
                        </template>
                        <template if:true={isPatient}>
                            <lightning-button class="slds-m-left_large" label={userRoleLabel}
                                onclick={navigateToRegisterPatient} icon-name="utility:adduser"></lightning-button>
                        </template>
                    </template>
                </div>
            </div>
            <div
                class="slds-border_top slds-m-top_medium slds-grid slds-grid_align-spread slds-grid_vertical-align-center slds-wrap backgroundStyle">
                <div class="slds-col slds-grid slds-wrap slds-grid_vertical-align-center">
                    <!--c-hv-pagination onprevious={previousHandler} onnext={nextHandler}></c-hv-pagination>-->
                    <!--p class="slds-col slds-m-vertical_medium content slds-m-left_xx-small">
                    Displaying {startingRecord} to {endingRecord} of {totalRecountCount} records.
                </p-->
                </div>
                <div class="slds-col slds-grid_vertical-align-center slds-grid">
                    <div class="slds-col slds-grid slds-is-relative slds-m-left_xx-small">
                        Filter By :
                    </div>
                    <!--<template if:true={showPatientFilter}>-->
                        <div class="slds-col slds-grid slds-is-relative slds-m-left_xx-small">
                            <lightning-button-menu alternative-text="Show menu" menu-alignment="auto"
                                icon-name="utility:meet_focus_presenter" onselect={handleOnActivityStatus}>
                                <lightning-menu-subheader label="Activity Status"></lightning-menu-subheader>
                                <lightning-menu-divider></lightning-menu-divider>
                                <template for:each={chooseByActivityoptions} for:item="menuItem" title="By Activity">
                                    <lightning-menu-item key={menuItem.id} value={menuItem.value}
                                        label={menuItem.label} checked={menuItem.checked}>
                                    </lightning-menu-item>
                                </template>
                            </lightning-button-menu>
                        </div>
                    <!--</template>-->
                    <template if:true={showFavFilter}>
                        <template if:true={showPatientFilter}>
                            <div class="slds-col slds-grid slds-is-relative slds-m-left_xx-small">
                                <lightning-button-menu alternative-text="Show menu" menu-alignment="auto"
                                    icon-name="utility:pin" onselect={handleOnselectFav}>
                                    <lightning-menu-subheader label="Favorite"></lightning-menu-subheader>
                                    <lightning-menu-divider></lightning-menu-divider>
                                    <template for:each={chooseByFavoriteoptions} for:item="menuItem" title="By Favorite">
                                        <lightning-menu-item key={menuItem.id} value={menuItem.value}
                                            label={menuItem.label} checked={menuItem.checked}>
                                        </lightning-menu-item>
                                    </template>
                                </lightning-button-menu>
                            </div>
                        </template>
                    </template>
                    <div class="slds-col slds-grid slds-is-relative slds-m-left_xx-small">
                        <lightning-button-menu alternative-text="Show menu" menu-alignment="auto"
                            icon-name="utility:picklist_choice" onclick={deptFilterClick} onselect={handleOnselectDept}>
                            <lightning-menu-subheader label="Department"></lightning-menu-subheader>
                            <lightning-menu-divider></lightning-menu-divider>
                            <template for:each={chooseByDepartmentoptions} for:item="menuItem" title="By Department">
                                <lightning-menu-item key={menuItem.id} value={menuItem.value} label={menuItem.label}
                                    checked={menuItem.checked}>
                                </lightning-menu-item>
                            </template>
                        </lightning-button-menu>
                    </div>
                    <div class="slds-col slds-grid slds-is-relative slds-m-left_xx-small">
                        <lightning-button-menu alternative-text="Show menu" menu-alignment="auto"
                            icon-name="utility:company" onselect={handleOnselectClinic}>
                            <lightning-menu-subheader label="Clinic"></lightning-menu-subheader>
                            <lightning-menu-divider></lightning-menu-divider>
                            <template for:each={chooseByClinicoptions} for:item="menuItem" title="By Clicic">
                                <lightning-menu-item key={menuItem.id} value={menuItem.value} label={menuItem.label}
                                    checked={menuItem.checked}>
                                </lightning-menu-item>
                            </template>
                        </lightning-button-menu>
                    </div>
                    <lightning-button-icon class="slds-m-left_xx-small" icon-name="utility:settings" onclick={openModal}
                        alternative-text="Settings" title="Settings"></lightning-button-icon>
                    <template if:true={showPatientFilter}>
                        <template if:true={loggedinUserRolePhysician}>
                            <lightning-button class="slds-m-left_xx-small" icon-name="utility:bookmark" label="Mark for review"
                                onclick={handleReviewFilterClick} alternative-text="Mark for review"
                                title="Mark for review">
                            </lightning-button>
                        </template>
                    </template>
                    <lightning-button-icon class="slds-m-left_xx-small slds-hide" icon-name="utility:refresh"
                        alternative-text="refresh" title="Reset"></lightning-button-icon>
                    <template if:true={showGenReport}>
                        <lightning-button class="slds-m-left_xx-small" label="Generate Report"
                            icon-name="utility:summary" onclick={generateReportOpenModal}></lightning-button>
                    </template>
                </div>
            </div>
            <!-- <lightning-button label="Select Column" brand="variant" onclick={openModal}></lightning-button> -->
            <div class="slds-grid">
                <template if:true={isModalOpen}>
                    <!-- Modal/Popup Box LWC starts here -->
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <!-- Modal/Popup Box LWC header here -->
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close" onclick={closeModal}>
                                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                        size="small"></lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Column
                                </h2>
                                <div class="slds-text-color_error ">
                                    <p class="columnError"></p>
                                </div>
                            </header>
                            <!-- Modal/Popup Box LWC body starts here -->
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <template if:true={optionsCheckbox}>
                                    <template for:each={optionsCheckbox} for:item="val" for:index="index">
                                        <div key={id}
                                            class="cursorDrag slds-is-relative slds-input slds-input-has-icon slds-input-has-icon_left slds-m-bottom_x-small slds-p-left_large">
                                            <lightning-icon class="slds-is-absolute customIcon"
                                                icon-name="utility:drag_and_drop" alternative-text="Connected"
                                                title="Connected" size="x-small">
                                            </lightning-icon>
                                            <template if:true={val}>
                                                <template if:true={val.checked}>
                                                    <lightning-input class="Items" draggable="true" ondrop={drop}
                                                        ondragstart={dragStart} ondragover={dragOver} type="checkbox"
                                                        label={val.label} value={val.value} name={index}
                                                        checked={val.checked} disabled={val.disabled}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={val.checked}>
                                                    <lightning-input class="Items" draggable="true" ondrop={drop}
                                                        ondragstart={dragStart} ondragover={dragOver} type="checkbox"
                                                        label={val.label} value={val.value} name={index}
                                                        checked={val.checked} disabled={val.disabled}>
                                                    </lightning-input>
                                                </template>
                                            </template>
                                        </div>
                                    </template>
                                </template>
                            </div>
                            <!-- Modal/Popup Box LWC footer starts here -->
                            <footer class="slds-modal__footer">
                                <button class="slds-button slds-button_neutral" onclick={closeModal}
                                    title="Cancel">Cancel</button>
                                <button class="slds-button slds-button_brand" onclick={submitDataColumns}
                                    title="OK">OK</button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
                <!-- generate report popup Start -->
                <template if:true={isGenerateReportOpen}>
                    <!-- Modal/Popup Box LWC starts here -->
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <!-- Modal/Popup Box LWC header here -->
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close" onclick={generateReportCloseModal}>
                                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                        size="small"></lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Generate
                                    Report
                                    Preferences</h2>
                            </header>
                            <!-- Modal/Popup Box LWC body starts here -->
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                                <div class="slds-grid slds-gutters slds-m-vertical_small slds-wrap">
                                    <template if:false={showReportHistory}>
                                        <div class="slds-col">
                                            <!-- <lightning-combobox name="department" label="Last 30 Days" value={value} placeholder="--Choose--"
                                            options={daysOption}></lightning-combobox> -->
                                            <!--<lightning-combobox name="daysSelection" label="Days" value={value}
                                            placeholder="Select Range" options={optionsDaysReport}></lightning-combobox>-->
                                            <div class="slds-grid slds-gutters slds-m-vertical_small slds-wrap">
                                                <div class="slds-col">
                                                    <div class="slds-wrap">
                                                        <lightning-button-group class="slds-wrap">
                                                            <lightning-button class="generatereportbutton" label="1D" onclick={handleButtonGroupGenerateReport}>
                                                            </lightning-button>
            
                                                            <lightning-button class="generatereportbutton" label="1W" onclick={handleButtonGroupGenerateReport}>
                                                            </lightning-button>
            
                                                            <lightning-button class="generatereportbutton" label="1M" onclick={handleButtonGroupGenerateReport}>
                                                            </lightning-button>
            
                                                            <lightning-button class="generatereportbutton" label="3M" onclick={handleButtonGroupGenerateReport}>
                                                            </lightning-button>
            
                                                            <lightning-button class="generatereportbutton" label="6M" onclick={handleButtonGroupGenerateReport}>
                                                            </lightning-button>
            
                                                            <lightning-button class="generatereportbutton" label="YTD" onclick={handleButtonGroupGenerateReport}>
                                                            </lightning-button>
                                                        </lightning-button-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <lightning-dual-listbox name="devices" label="Select Devices"
                                                source-label="Available" selected-label="Selected"
                                                options={optionsDevicesReport} required="true"></lightning-dual-listbox>
                                            <!-- field-level-help="Choose your preferred devices" -->
                                        </div>
                                    </template>
                                    <template if:true={showReportHistory}>
                                        <template if:true={patientuserid}>
                                            <c-hv-view-report-history patientid={patientuserid}></c-hv-view-report-history>
                                        </template>
                                    </template>
                                </div>
                            </div>
                            <!-- Modal/Popup Box LWC footer starts here -->
                            <footer class="slds-modal__footer">
                                <button class="slds-button slds-button_neutral" onclick={generateReportCloseModal}
                                    title="Cancel">Cancel</button>
                                <template if:false={showReportHistory}>
                                    <!--button class="slds-button slds-button_neutral" onclick={viewReportHistory}
                                        title="View History Report">View History Report</button-->
                                    <button class="slds-button slds-button_brand" onclick={generateAFReports}
                                        title="Submit">Submit</button>
                                </template>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
                <!-- generate report popup End -->
                <template if:true={totalcolumns}>
                    <template if:true={showtabledata}>
                        <div class="divsize">
                            <c-hv-custom-data-table key-field="Id" data={tabledata} columns={totalcolumns}
                                max-row-selection="1" onrowselection={handelSelection} show-row-number-column="true"
                                default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                                sorted-by={sortedBy} onsort={onHandleSort} ondrop={Drop} ondragstart={DragStart}
                                ondragover={DragOver} onloadmore={loadMoreData} onfavclick={handleTableRefresh}
                                enable-infinite-loading>
                            </c-hv-custom-data-table>
                        </div>
                    </template>
                    <template if:false={showtabledata}>
                        <h1 class="shownodata">No Data Available</h1>
                    </template>
                </template>
                <template if:false={totalcolumns}>
                    <h1 class="shownodata">No Data Available</h1>
                </template>
            </div>
        </template>
        <template if:true={showdatable}>
            <template if:true={openPatientDetail}>
                <c-hv-patient-measurments-detail patient-id={selectedpatientId} ongoback={showPhysicianDashboard}>
                </c-hv-patient-measurments-detail>
            </template>
            <template if:true={openOtherUserDetail}>
                <div class="slds-card slds-p-left_medium slds-p-right_medium slds-p-bottom_medium">
                    <div class="slds-grid slds-p-bottom_small slds-border_bottom slds-grid_align-spread slds-wrap">
                        <lightning-button class="slds-col" variant="brand" label=" " icon-name="utility:chevronleft"
                            name="back" onclick={revertBack}>
                        </lightning-button>
                    </div>
                </div>
                <c-hv-user-profile currentuserrecord={otherUserData} patientid={selectedpatientId}></c-hv-user-profile>
            </template>
        </template>
    </template>
</template>