<template>
    <template if:true={errormessage}>
        <h2><span class="slds-text-color_error slds-text-title slds-p-horizontal_small">{errorMessage}</span></h2>
    </template>
    <template if:true={isPatientHasNotes}>
        <template for:each={patientAllNotes} for:item="note">
            <!-- <lightning-card key={note.Id}>
               <h1><lightning-avatar src={note.CreatedBy.SmallPhotoUrl} alternative-text={name} variant="circle" size="medium">
                </lightning-avatar>
                 <lightning-formatted-text value={note.CreatedBy.Name}></lightning-formatted-text>:</h1>
                <h1><lightning-formatted-date-time value={note.CreatedDate} year="numeric" month="long" day="2-digit" weekday="long"></lightning-formatted-date-time></h1>
                <h2><lightning-formatted-text value={note.HV_Comment__c} ></lightning-formatted-text></h2>                
            </lightning-card> -->

            <div class="slds-theme_default slds-p-around_small slds-m-bottom_small slds-input" key={note.Id}>
                <div class="headerMessage slds-grid ">
                    <div class="slds-p-right_small">
                        <lightning-avatar src={note.CreatedBy.SmallPhotoUrl} alternative-text={name} variant="circle"
                            size="medium">
                        </lightning-avatar>
                    </div>
                    <div class="displayBlock">
                        <div class="slds-text-heading_small">
                            <lightning-formatted-text value={note.CreatedBy.FirstName}
                                class="slds-m-bottom_xx-small slds-m-right_xx-small"></lightning-formatted-text>
                            <lightning-formatted-text value={note.CreatedBy.LastName} class="slds-m-bottom_xx-small">
                            </lightning-formatted-text>
                        </div>
                        <lightning-formatted-date-time value={note.CreatedDate} year="numeric" month="long"
                            day="2-digit" weekday="long" hour="2-digit"
                            minute="2-digit" time-zone-name="short" hour12="true"></lightning-formatted-date-time>

                    </div>
                </div>
                <div class="bodyMessage slds-m-top_small">
                    <!-- {note.HV_Comment__c} -->
                    <lightning-formatted-text value={note.HV_Comment__c}></lightning-formatted-text>
                </div>
            </div>
            <br key={note.Id}>
        </template>
    </template>
    <template if:false={isPatientHasNotes}>
        <h2><span class="slds-text-title slds-p-horizontal_small">No Notes!!!</span></h2>
    </template>
    <template if:true={showaddnoteButton}>
        <template if:false={notestoadd}>
            <div class="slds-button slds-button_brand" onclick={addNote}>
                <lightning-icon icon-name="utility:record_create" size="x-small" class="slds-m-right_small"
                    alternative-text="Event" title="Event" variant="inverse"></lightning-icon>
                <span>Add Note</span>
            </div>
        </template>
        <template if:true={notestoadd}>
            <lightning-textarea name="HV_Comment__c" label="" value={createNoteRecord.HV_Comment__c}
                onchange={inputFieldOnchange} placeholder="Type notes here to add for patient" required>
            </lightning-textarea>
            <div
                class="slds-grid slds-wrap slds-grid_vertical-align-center slds-grid_align-spread slds-card slds-p-around_small">
                <div class="slds-col">
                    <lightning-button variant="bare" label="Cancel" onclick={oncancelnotes}>
                    </lightning-button>
                </div>
                <div class="slds-col">
                    <lightning-button variant="brand" label="Save" onclick={saveNotes}></lightning-button>
                </div>
            </div>

        </template>
    </template>
</template>