<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 07-30-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
   <!-- <div >
        <lightning-combobox
            name="progress"
            value={value}
            placeholder="Select Department"
            variant="label-hidden"
            options={options}
            onchange={handleChange} style="overflow: auto !important;"></lightning-combobox>
    </div>-->
    
        <div class="slds-truncate" >
            {departmentValue}  <lightning-icon icon-name="utility:edit" size="x-small"  onclick={openModal}></lightning-icon>
        </div>
        
    
     
    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Department</h2>
                    <div class="slds-text-color_error ">
                        <p class="columnError"></p>
                    </div>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    
                    <template if:true={departmentOptions}>
                        <lightning-dual-listbox name="HV_Department__pc" label="Department"
                            data-id="HV_Department__pc" value={selectedDepartment}
                            source-label="Available" selected-label="Selected"
                            field-level-help="Select your Department"
                            options={departmentOptions} onchange={onselectValue}>
                        </lightning-dual-listbox>
                    </template>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal}
                        title="Cancel">Cancel</button> 
                    <button class="slds-button slds-button_brand" onclick={submitData}
                        title="OK">Save</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>