<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-03-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>

    <!-- Modal/Popup Box LWC starts here -->
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <template if:true={modalheader}>
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">

                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{modalheader}</h2>
                </header>
            </template>
            <!-- Modal/Popup Box LWC body starts here -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <template if:true={showdefaultbody}>
                    {modalbody}

                </template>
                <template if:true={showfacilityselect}>
                    <lightning-combobox name="Select Facility" label="Select Facility" value={selectedFacility}
                        placeholder="Select Facility" options={facilityOptions} onchange={facilitychange}
                         dropdown-alignment="auto" class="displayFacility">
                    </lightning-combobox>
                </template>
                <template if:true={isPrivacy}>
                    <div class="d3" lwc:dom="manual"></div>
                </template>
                <template if:true={isTerm}>
                    <div class="d3" lwc:dom="manual"></div>
                </template>
                <template if:true={showcontactus}>
                    <div>
                        <div class="slds-p-around_small">
                            <h2 class="h2class">{contactusdetails.HV_Contact_Us_Header__c}</h2>
                        </div>
                        <div class="slds-p-around_small">
                            <h3 class="h3class">{contactusdetails.HV_Contact_Us_SubHeader__c}</h3>
                        </div>
                    </div>
                    <div>
                        <div class="slds-p-around_small">
                            <lightning-icon icon-name="utility:call" alternative-text="Call" title="Call">
                            </lightning-icon>: {contactusdetails.HV_Contact_Us_Phone_Number__c}
                        </div>
                        <div class="slds-p-around_small">
                            <lightning-icon icon-name="utility:email" alternative-text="Email" title="Email">
                            </lightning-icon>: {contactusdetails.HV_Contact_Us_Email__c}
                        </div>
                        <div class="slds-p-around_small">
                            <lightning-icon icon-name="utility:new_direct_message" alternative-text="Form" title="Form">
                            </lightning-icon>: Or, fill out the form below and we'll get back to you.
                        </div>
                    </div>
                    <lightning-layout multiple-rows>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
                            large-device-size="6" padding="around-small">
                            <lightning-input name="FirstName" type="text" required label="First Name"
                                value={contactusobj.FirstName} onchange={inputFieldOnchange} 
                                pattern="[a-zA-Z0-9]+"
                                message-when-pattern-mismatch="First name cannot include space or special character">
                            </lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
                            large-device-size="6" padding="around-small">
                            <lightning-input name="LastName" type="text" required label="Last Name"
                                value={contactusobj.LastName} onchange={inputFieldOnchange} 
                                pattern="[a-zA-Z0-9]+"
                                message-when-pattern-mismatch="Last name cannot include space or special character">
                            </lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
                            large-device-size="6" padding="around-small">
                            <lightning-input name="HVUsername" type="text" required label="HeartView Username"
                                value={contactusobj.HVUsername} onchange={inputFieldOnchange} 
                                placeholder="Enter your provided HeartView account username here">
                            </lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
                            large-device-size="6" padding="around-small">
                            <lightning-input  type="email" name="Email" value={contactusobj.Email}
                                label="Email" onchange={inputFieldOnchange} placeholder="Enter your email address here">
                            </lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
                            large-device-size="6" padding="around-small">
                            <lightning-input type="tel"  label="Cell Phone" name="Phone"
                                value={contactusobj.Phone} onchange={inputFieldOnchange}
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                message-when-pattern-mismatch="Enter Valid 10 digit Cell Phone Number in format XXX-XXX-XXXX"
                                placeholder=""> </lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
                            large-device-size="6" padding="around-small">
                            <lightning-input type="tel" value={contactusobj.HomePhone} 
                                label="Home Phone" name="HomePhone" onchange={inputFieldOnchange}
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                message-when-pattern-mismatch="Enter Valid 10 digit Home Phone Number in format XXX-XXX-XXXX"
                                placeholder=""> </lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="12" medium-device-size="12"
                            large-device-size="12" padding="around-small">
                            <lightning-textarea name="Message" label="Message" value={contactusobj.Message} required
                                placeholder="Enter your message here, including any issues you are experiencing or any questions you have.   Click the Submit button below to submit your message and we will get back to you."
                                onchange={inputFieldOnchange}>
                            </lightning-textarea>
                        </lightning-layout-item>
                    </lightning-layout>
                    <div class="slds-p-around_small">
                        <lightning-button label="Submit" name="Submit" onclick={submitmessage}></lightning-button>
                    </div>
                </template>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
                <template if:true={closebuttonlabel}>
                    <button class="slds-button slds-button_neutral" onclick={closeModal}
                        name={closebuttonlabel}>{closebuttonlabel}</button>
                </template>
                <template if:true={okbuttonlabel}>
                    <button class="slds-button slds-button_brand" onclick={submitDetails}
                        name={okbuttonlabel}>{okbuttonlabel}</button>
                </template>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>