.displayFacility{
    padding-bottom: 30%;
}
.h2class{
    color: #3c7baf;
    font-weight: bold;
    font-size: xx-large;
    line-height: 1em;
}
.h3class{
    color: #3c7baf;
    font-weight: bold;
    font-size: medium;
    letter-spacing: .1em;
    line-height: 1.55em;
}