<!--
@description       : 
@author            : ChangeMeIn@UserSettingsUnder.SFDoc
@group             : 
@last modified on  : 07-21-2021
@last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
Modifications Log 
Ver   Date         Author                               Modification
1.0   07-15-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <!-- Modal/Popup Box LWC header here -->
            <template if:true={isLoading}>
                <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
            </template>
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Column</h2>
                <div class="slds-text-color_error ">
                    <p class="columnError"></p>
                </div>
            </header>
            <!-- Modal/Popup Box LWC body starts here -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                
                <template if:true={optionsCheckbox}>
                    <template for:each={optionsCheckbox} for:item="val" for:index="index">
                        <div key={id}
                            class="cursorDrag slds-is-relative slds-input slds-input-has-icon slds-input-has-icon_left slds-m-bottom_x-small slds-p-left_large">
                            <lightning-icon class="slds-is-absolute customIcon" icon-name="utility:drag_and_drop"
                                alternative-text="Connected" title="Connected" size="x-small">
                            </lightning-icon>
                            <template if:true={val}>
                                <lightning-input class="Items" draggable="true" ondrop={drop} ondragstart={dragStart}
                                    ondragover={dragOver} type="checkbox" label={val.label} value={val.value}
                                    name={index} checked={val.checked} disabled={val.disabled}>
                                </lightning-input>
                            </template>
                        </div>
                    </template>
                </template>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                <button class="slds-button slds-button_brand" onclick={submitDataColumns} title="OK">OK</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>