<template>
    <template if:true={isFav}>
        <p class="slds-truncate slds-p-horizontal_x-small" >
            <img src={favimg} class="image" onclick={selectNotFav} width="25px"  />
        </p>
    </template>
    <template if:false={isFav}>
        <p class="slds-truncate slds-p-horizontal_x-small" >
            <img src={notfavimg} class="image" onclick={selectFav} width="25px"  />      
        </p>
    </template>
</template>