<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-28-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <div class="slds-card">
        <div
            class="slds-grid slds-wrap slds-grid_vertical-align-center slds-grid_align-spread slds-card slds-border_bottom slds-p-around_small">
            <div class="slds-col">
                <div class="slds-grid slds-grid_vertical-align-center slds-gutters">
                    <div class="slds-col">
                        <lightning-avatar src={url} alternative-text={name} variant="circle" size="large">
                        </lightning-avatar>
                    </div>
                    <div class="slds-col slds-m-right_medium">
                        <div class="slds-text-heading_medium">Profile</div>
                        <!-- <div class="slds-text-heading_small">Orthopaedic</div> -->
                    </div>
                </div>
            </div>
            <div class="slds-col">
                <template if:true={showdeprovision}>
                    <lightning-button-group>
                        <lightning-button label="Deprovision" onclick={offBoardPatient}></lightning-button>
                    </lightning-button-group>
                </template>
                <template if:true={isClinicalUser}>
                    <lightning-button-group>
                        <lightning-button label="Swap Box" onclick={openSwapBox}></lightning-button>
                    </lightning-button-group>
                    <lightning-button-group>
                        <lightning-button label="Edit Devices" onclick={openEditDevices}></lightning-button>
                    </lightning-button-group>
                </template>
                <template if:true={showEditProfile}>
                    <lightning-button-group>
                        <lightning-button label="Edit Profile" onclick={editProfile}></lightning-button>
                    </lightning-button-group>
                </template>
                 
            </div> 
        </div>
        <template if:true={isSwapBox}>
            <c-hv-swap-box patient-id={patientUserData.PersonContactId} box-name={boxIdName} onclose={closeSwapBox} onupdatedboxid={updatedBoxId}></c-hv-swap-box>
        </template>
        <template if:true={isEditDevices}> 
            <template if:true={boxIdName}>
                <c-hv-edit-inventory-management box-name={boxIdName} onclose={closeEditDevices} ></c-hv-edit-inventory-management>
            </template>
        </template> 
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </template>
        <template if:false={showSpinner}>
            <hr class="slds-m-vertical_small">
            <template if:true={errorMessage}>
                <h2><span class="slds-text-color_error slds-text-title slds-p-horizontal_small">{errorMessage}</span>
                </h2>
            </template>
            <template if:true={patientUserData.Id}>
                <lightning-layout multiple-rows>
                    <!--First Name-->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class='FirstName'>
                        <lightning-input name="FirstName" type="text" label="First Name" min-length=1
                            pattern="[a-zA-Z0-9]+" value={patientUserData.FirstName} required readonly
                            onchange={patientUserDataChange}
                            message-when-pattern-mismatch="First name cannot include space or special character">
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- last name -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class='LastName'>
                        <lightning-input name="LastName" type="text" label="Last Name" min-length=1
                            pattern="[a-zA-Z0-9]+" value={patientUserData.LastName} required readonly
                            onchange={patientUserDataChange}
                            message-when-pattern-mismatch="Last name cannot include space or special character">
                        </lightning-input>
                    </lightning-layout-item>
                    <!--Facility -->
                    <lightning-layout-item class="HV_Patient_Clinic__c" size="12" small-device-size="6"
                        medium-device-size="6" large-device-size="6" padding="around-small">
                        <lightning-input name="HV_Patient_Clinic__c" type="text" label="Facility" value={clinicName}
                            readonly onchange={patientUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- patient Prescribed By  -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_Prescribed_By__pc">
                        <lightning-input name="HV_Prescribed_By__pc" type="text" label="Prescribed By"
                            value={patientUserData.HV_Prescribed_By__pc} readonly onchange={patientUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- patient patient Id  -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_Patient_ID__pc">
                        <lightning-input name="HV_Patient_ID__pc" type="text" label="Username"
                            value={patientUserData.HV_Patient_ID__pc} readonly onchange={patientUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- patient box Id  -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_Box_ID__pc">
                        <lightning-input name="HV_Box_ID__pc" type="text" label="BOX ID" value={boxIdName} readonly
                            onchange={patientUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- Email -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="PersonEmail">
                        <lightning-input type="email" name="PersonEmail" label="Email"
                            value={patientUserData.PersonEmail} onchange={patientUserDataChange}
                            required={emailRequired}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- Phone -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="Phone">
                        <lightning-input type="tel" label="Cell Phone" name="Phone" value={patientUserData.Phone}
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                            message-when-pattern-mismatch="Enter Valid 10 digit Cell Phone Number in format XXX-XXX-XXXX"
                            onchange={patientUserDataChange} required={cellphoneRequired}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- patient Home Phone -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="PersonHomePhone">
                        <lightning-input type="tel" label="Home Phone" name="PersonHomePhone"
                            value={patientUserData.PersonHomePhone} pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                            message-when-pattern-mismatch="Enter Valid 10 digit Home Phone Number in format XXX-XXX-XXXX"
                            onchange={patientUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- patient DOB  -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="PersonBirthdate">
                        <lightning-input type="date" name="PersonBirthdate" label="Date of Birth"
                            value={patientUserData.PersonBirthdate} max={maxdate}
                            message-when-too-long="Age should be above 18 years" onchange={patientUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- patient Gender -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HealthCloudGA__Gender__pc">
                        <lightning-combobox name="HealthCloudGA__Gender__pc" label="Gender" options={genderOptions}
                            value={patientUserData.HealthCloudGA__Gender__pc} onchange={patientUserDataChange}>
                        </lightning-combobox>
                    </lightning-layout-item>
                    <!-- patient Height -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_Height__pc">
                        <lightning-input name="HV_Height__pc" type="text" label="Height(in)"
                            value={patientUserData.HV_Height__pc} onchange={patientUserDataChange}></lightning-input>
                    </lightning-layout-item>
                    <!-- OPT IN FOR 2 FACTOR AUTHENTACTION-->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_isTwoFactorAuthentactionEnabled__pc">
                        <lightning-radio-group name="HV_isTwoFactorAuthentactionEnabled__pc"
                            label="OPT in for Two Factor Authentaction" options={optionsforOptInTwoFactor}
                            value={selectedOptInValue} onchange={patientUserDataChange} type="button">
                        </lightning-radio-group>
                    </lightning-layout-item>
                    <!--End Opt In-->
                    <!-- Reviewed -->
                    <template if:true={currentuserdata}>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="6"
                            large-device-size="6" padding="around-small" class="HV_Reviewed__pc">
                            <lightning-radio-group name="HV_Reviewed__pc" label="Reviewed" options={optionsforReviewed}
                                value={selectedReviewed} onchange={patientUserDataChange} type="button">
                            </lightning-radio-group>
                        </lightning-layout-item>
                    </template>
                    <!-- patient Preferred Contact Method  -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="Preferred_Contact_Method__pc">
                        <lightning-radio-group name="Preferred_Contact_Method__pc" label="Preferred Contact Type"
                            options={preferredcontactoptions} value={patientUserData.Preferred_Contact_Method__pc}
                            type="radio" onchange={patientUserDataChange}>
                        </lightning-radio-group>
                    </lightning-layout-item> 
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_Symptom_Check_In__pc">
                        
                        <lightning-input label="Symptom Check-In"
                        checked={patientUserData.HV_Symptom_Check_In__pc}
                        type="checkbox" onchange={patientUserDataChange} 
                        name="HV_Symptom_Check_In__pc"> 
                    </lightning-input> 
                    </lightning-layout-item> 
                    
                </lightning-layout> 
                <lightning-layout multiple-rows>
                    <!-- Patient Department -->
                    <lightning-layout-item class="HV_Department__pc" size="12" small-device-size="6"
                        medium-device-size="6" large-device-size="6" padding="around-small">
                        <lightning-dual-listbox name="HV_Department__pc" label="Department" value={selectedDepartment}
                            source-label="Available" selected-label="Selected" field-level-help="Select your Department"
                            options={departmentOptions} onchange={patientUserDataChange}>
                        </lightning-dual-listbox>
                    </lightning-layout-item>
                    <!-- patient shipping address -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="ShippingAddress">
                        <lightning-input-address name="ShippingAddress" value={patientUserData.ShippingAddress}
                            onchange={patientUserDataChange} address-label="Shipping Address" street-label="Street"
                            city-label="City" country-label="Country" province-label="Province"
                            postal-code-label="Postal Code" street={patientUserData.ShippingStreet}
                            city={patientUserData.ShippingCity} country={patientUserData.ShippingCountry}
                            province={patientUserData.ShippingState} postal-code={patientUserData.ShippingPostalCode}
                            show-address-lookup field-level-help="Select Shipping Address">
                        </lightning-input-address>
                    </lightning-layout-item>
                </lightning-layout>
            </template>

            <template if:true={otherUserData.Id}>
                <lightning-layout multiple-rows>
                    <!--First Name-->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class='FirstName'>
                        <lightning-input name="FirstName" type="text" label="First Name" min-length=1
                            pattern="[a-zA-Z0-9]+" value={otherUserData.FirstName} required readonly
                            onchange={otherUserDataChange}
                            message-when-pattern-mismatch="First name cannot include space or special character">
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- last name -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class='LastName'>
                        <lightning-input name="LastName" type="text" label="Last Name" min-length=1
                            pattern="[a-zA-Z0-9]+" value={otherUserData.LastName} required readonly
                            onchange={otherUserDataChange}
                            message-when-pattern-mismatch="Last name cannot include space or special character">
                        </lightning-input>
                    </lightning-layout-item>
                    <!--Facility -->
                    <lightning-layout-item class="AccountId" size="12" small-device-size="6" medium-device-size="6"
                        large-device-size="6" padding="around-small">
                        <lightning-input name="AccountId" type="text" label="Facility" value={clinicName} readonly
                            onchange={otherUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- Email -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="Email">
                        <lightning-input type="email" name="Email" label="Email" value={otherUserData.Email} readonly
                            onchange={otherUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- Phone -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="Phone">
                        <lightning-input type="tel" label="Cell Phone" name="Phone" value={otherUserData.Phone}
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                            message-when-pattern-mismatch="Enter Valid 10 digit Phone Number in format XXX-XXX-XXXX"
                            onchange={otherUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                    <!-- physician License Number -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_License_Number__c">
                        <lightning-input type="text" name="HV_License_Number__c" label="License Number"
                            value={otherUserData.HV_License_Number__c} onchange={otherUserDataChange}></lightning-input>
                    </lightning-layout-item>
                    <!-- physician Qualification -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_Qualification__c">
                        <lightning-input type="text" name="HV_Qualification__c" label="Qualification"
                            value={otherUserData.HV_Qualification__c} onchange={otherUserDataChange}></lightning-input>
                    </lightning-layout-item>
                    <!-- physician Specialization -->
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="6" large-device-size="6"
                        padding="around-small" class="HV_Specialization__c">
                        <lightning-input name="HV_Specialization__c" label="Specialization"
                            value={otherUserData.HV_Specialization__c} onchange={otherUserDataChange}>
                        </lightning-input>
                    </lightning-layout-item>
                </lightning-layout>
                <!-- Physician Department -->
                <lightning-layout multiple-rows>
                    <lightning-layout-item class="HV_Department__c" size="12" small-device-size="6"
                        medium-device-size="6" large-device-size="6" padding="around-small">
                        <lightning-dual-listbox name="HV_Department__c" label="Department" value={selectedDepartment}
                            source-label="Available" selected-label="Selected" field-level-help="Select your Department"
                            options={departmentOptions} onchange={otherUserDataChange}>
                        </lightning-dual-listbox>
                    </lightning-layout-item>
                </lightning-layout>
            </template>
            <template if:true={editable}>
                <hr class="slds-m-vertical_small">
                <div
                    class="slds-grid slds-wrap slds-grid_vertical-align-center slds-grid_align-spread slds-card slds-p-around_small">
                    <div class="slds-col">
                        <lightning-button variant="bare" label="Cancel" onclick={editProfileReadOnlyAfterSaveCancel}>
                        </lightning-button>
                    </div>
                    <div class="slds-col">
                        <lightning-button variant="brand" label="Save" onclick={saveData}></lightning-button>
                    </div>
                </div>
            </template>
        </template>
    </div>
</template>