<template>
    <lightning-input 
        type="toggle" 
        label="Basic option"
        variant="label-hidden" 
        message-toggle-active="AF Enabled"
        message-toggle-inactive="AF Disabled"
        checked={checked}
        disabled={buttonDisabled}
        onchange={handleToggle}></lightning-input>
</template>