<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-15-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <div class="slds-grid">
        <div class="slds-col slds-size_12-of-12">
            
            <lightning-card>
                <div slot="title">
                    Account Recovery
                </div>
                <template if:true={errorMessage}>
                    <span class="slds-text-color_error slds-text-title slds-p-horizontal_small"> {errorMessage}</span>
                </template>
                

                <div class="slds-grid slds-p-horizontal_medium">
                    <div class="slds-col slds-size_2-of-2">
                        <p class="slds-m-top_medium" >Choose preferred contact method for OTP</p>
                        
                        <div class="slds-p-bottom_x-small slds-m-top_medium slds-border_bottom" if:true={onlyEmail}>
                            <lightning-input class="slds-float_left" type="checkbox"
                                checked={emailSelection} variant="label-hidden" label="email" value="email" name="email"
                                onchange={toogleselection}></lightning-input>
                            <lightning-icon icon-name="utility:email" size="small" alternative-text="email"
                                title="email" class="slds-m-right_small"> </lightning-icon>
                            Get a verification code at {emailString}
                        </div>
                        
                        <div class="slds-p-top_medium slds-p-bottom_medium slds-m-bottom_small slds-border_bottom"
                            if:true={onlyPhone}>
                            <lightning-input class="slds-float_left" type="checkbox"
                                checked={phoneSelection} variant="label-hidden" label="phone" value="phone" name="phone"
                                onchange={toogleselection}></lightning-input>
                            <lightning-icon icon-name="utility:phone_portrait" size="small"
                                alternative-text="phone_portrait" title="phone_portrait" class="slds-m-right_small">
                            </lightning-icon> 
                            Get a verification code at to {phoneString}
                        </div>

                        <div class="slds-p-top_medium slds-p-bottom_medium slds-m-bottom_small slds-border_bottom"
                        if:true={onlyHomePhone}>
                        <lightning-input  class="slds-float_left" type="checkbox"
                            checked={homePhoneSelection} variant="label-hidden" label="Home Phone" value="homePhone" name="homePhone"
                            onchange={toogleselection}></lightning-input>
                        <lightning-icon icon-name="utility:phone_portrait" size="small"
                            alternative-text="phone_portrait" title="phone_portrait" class="slds-m-right_small">
                        </lightning-icon>
                        Get a verification call at to {homePhoneString}
                    </div>
                        
                    </div>
                </div>

                <div class="slds-grid slds-grid_align-spread slds-p-around_small slds-border_top slds-m-top_x-large">
                    <c-hv-cancel-button-to-login></c-hv-cancel-button-to-login>
                    <lightning-button variant="brand" onclick={sendOtp} label="Send" class="slds-col">
                    </lightning-button>
                </div>

            </lightning-card>
        </div>
    </div>
</template>