<template>
    <div class="slds-theme_shade slds-no-print slds-grid slds-grid_vertical-align-center slds-wrap">
        <div class="slds-p-left_small slds-col slds-size_3-of-12">
            <img src={url} >
        </div>     
        <div class="slds-p-right_small slds-col slds-size_8-of-12 slds-col_bump-left slds-grid slds-grid_align-end slds-wrap">
            <c-hv-header-user-profile-menu onchild={hanldleChild2}></c-hv-header-user-profile-menu>
        </div>
    </div>
</template>