.slds-modal__container {
  max-width: 70rem !important;
  width: 70% !important;
  
}

.slds-modal__content {
  font-size: 1.25em;
}
.blueSymptom{
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blueZone{
    background-color: #005593;
}



.blueCircle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 100%;
  border-radius: 50%;
 
  /* (B) FAKE 3D SPHERE */
  /* http://www.colorzilla.com/gradient-editor/ */
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  /* https://html-css-js.com/css/generator/box-shadow/ */
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
  
    /* (B) BACKGROUND COLOR */ 
    background: #005593;
   
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: .75;
    position: relative;
  }
   
  /* (D) MATCH HEIGHT */
  .blueCircle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
   
  /* (E) TEXT BLOCK */
  .blueText {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
   
    /* (E2) THE FONT - NOT REALLY IMPORTANT */
    font-family: arial, sans-serif;
    font-weight: bold;
  }


  .greenCircle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 100%;
  border-radius: 50%;
 
  /* (B) FAKE 3D SPHERE */
  /* http://www.colorzilla.com/gradient-editor/ */
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  /* https://html-css-js.com/css/generator/box-shadow/ */
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
  
    /* (B) BACKGROUND COLOR */ 
    background: #6db156;
   
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: .75;
    position: relative;
  }
   
  /* (D) MATCH HEIGHT */
  .greenCircle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
   
  /* (E) TEXT BLOCK */
  .greenText {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
   
    /* (E2) THE FONT - NOT REALLY IMPORTANT */
    font-family: arial, sans-serif;
    font-weight: bold;
  }

  .yellowCircle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 100%;
  border-radius: 50%;
 
  /* (B) FAKE 3D SPHERE */
  /* http://www.colorzilla.com/gradient-editor/ */
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  /* https://html-css-js.com/css/generator/box-shadow/ */
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
  
    /* (B) BACKGROUND COLOR */ 
    background: #ffd966;
   
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: .75;
    position: relative;
  }
   
  /* (D) MATCH HEIGHT */
  .yellowCircle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
   
  /* (E) TEXT BLOCK */
  .yellowText {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
   
    /* (E2) THE FONT - NOT REALLY IMPORTANT */
    font-family: arial, sans-serif;
    font-weight: bold;
  }

  .redCircle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 100%;
  border-radius: 50%;
 
  /* (B) FAKE 3D SPHERE */
  /* http://www.colorzilla.com/gradient-editor/ */
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  /* https://html-css-js.com/css/generator/box-shadow/ */
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
  
    /* (B) BACKGROUND COLOR */ 
    background: #ae2535;
   
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: .75;
    position: relative;
  }
   
  /* (D) MATCH HEIGHT */
  .redCircle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
   
  /* (E) TEXT BLOCK */
  .redText {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
   
    /* (E2) THE FONT - NOT REALLY IMPORTANT */
    font-family: arial, sans-serif;
    font-weight: bold;
    color: white;
  }