<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-12-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>

    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <!-- Modal/Popup Box LWC header here -->
            <template if:true={isLoading}>
                <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
            </template>
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Symptom Checker</h2>
                <div class="slds-text-color_error ">
                    <p class="columnError"></p>
                </div>
            </header>
            <!-- Modal/Popup Box LWC body starts here -->
            <div class="slds-modal__content slds-p-around_large" id="modal-content-id-1">
                <div class="slds-grid slds-gutters slds-p-around_small">
                    <b>This symptom checker is not, under any circumstances, to replace the need to contact your care
                        team, 911 or emergency services.
                    </b>
                </div>
                <div class="slds-grid slds-gutters slds-p-around_small">
                    <div class="slds-align_absolute-center">
                        <b>Symptom Zones</b>
                    </div>
                </div>

                <div class="slds-grid slds-gutters slds-p-around_large">
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-grid slds-gutters blueSymptom">
                    <div class="slds-col slds-size_1-of-3 ">
                        <div class="blueCircle">
                            <div class="blueText">Every Day</div>
                        </div>

                    </div>
                    <div class="slds-col slds-size_2-of-3 blueZone slds-p-around_medium">
                        <ul class="slds-list_ordered">
                            <li>Shortness of breath at baseline.</li>
                            <li>Swelling is at baseline.</li>
                            <li>Maintain current weight.(Weight may change 1-2 pounds some days.)
                            </li>
                            <li>No chest pain.</li>
                            <li>You are able to maintain your normal activities.</li>
                        </ul>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="slds-grid slds-gutters slds-p-around_large">
                    <div class="slds-align_absolute-center">
                       <h1>Which ZONE are you in today?</h1> 
                    </div>
                </div>

                <div class="slds-grid slds-gutters slds-p-around_large  " onmouseover={highlightGreenZone}
                    onclick={selectGreenSymptom}>

                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-grid slds-gutters greenSymptom">
                            <div class="slds-col slds-size_1-of-3 ">
                                <div class="greenCircle">
                                    <div class="greenText">Green Zone</div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_2-of-3 greenZone slds-p-around_medium ">
                                <ul class="slds-list_ordered">
                                    <li>Weigh yourself in the morning before breakfast.</li>
                                    <li>Take you medicine as prescribed.</li>
                                    <li>Check your feet,ankles,legs,stomach for swelling.</li>
                                    <li>Eat food low in salt and avoid drinking too much fluid.</li>
                                    <li>Balance activity and rest periods.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-gutters slds-p-around_large  " onmouseover={highlightYellowZone}
                    onclick={selectYellowSymptom}>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-grid slds-gutters yellowSymptom">
                            <div class="slds-col slds-size_1-of-3 ">
                                <div class="yellowCircle">
                                    <div class="yellowText">Yellow Zone</div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_2-of-3 yellowZone slds-p-around_medium">
                                <ul class="slds-list_ordered">
                                    <li>Weight gain of 3 or more pounds in two days.</li>
                                    <li>More shortness of breath.</li>
                                    <li>More swelling.</li>
                                    <li>More cough.</li>
                                    <li>More pillows needed to sleep.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-gutters slds-p-around_large  " onmouseover={highlightRedZone}
                    onclick={selectRedSymptom}>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-grid slds-gutters redSymptom">
                            <div class="slds-col slds-size_1-of-3 ">
                                <div class="redCircle">
                                    <div class="redText">Red Zone</div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_2-of-3 redZone slds-p-around_medium">
                                <ul class="slds-list_ordered">
                                    <li>Shortness of breath that does not go away, shortness of breath at
                                        rest,or waking up from sleep gasping for breath.</li>
                                    <li>Chest pain does not go away.</li>
                                    <li>Wheezing or chest tightness at rest.</li>
                                    <li>Weight gain or loss of more than 8-10 pounds in two days.</li>
                                    <li>Confusion.</li>
                                    <li>Abnormally low blood pressure.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                <button class="slds-button slds-button_brand" onclick={submitSymptomStatus} title="OK">Submit</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>