<template>
    <div class="patientDashboard slds-card slds-p-left_medium slds-p-right_medium slds-p-bottom_medium" if:true={frompatientdashboard}>
        <div class="slds-grid slds-gutters slds-p-bottom_small slds-border_bottom slds-grid_align-spread slds-wrap slds-grid_vertical-align-center">
            <div class="slds-grid slds-grid_vertical-align-center">
                <lightning-button class="slds-col" variant="brand" label=" " icon-name="utility:chevronleft"
                                    name="back" onclick={goBackToPatientDashboard}>
                </lightning-button>
            </div>
        </div>
    </div>
    <div class="slds-grid addstyletopage">
        <div class="slds-col slds-size_2-of-2">
            <lightning-tabset variant="vertical" active-tab-value="landingpage" >
                <template if:true={showUserProfileTab}>
                    <lightning-tab label="Profile" icon-name="utility:user_role" value="landingpage" class="addstyletopage">
                        <div
                            class="slds-grid slds-grid_vertical-align-top slds-grid_align-spread slds-p-around_small slds-gutters">
                            <div
                                class="slds-col slds-size_1-of-1 slds-large-size_12-of-12 slds-medium-size_12-of-12 slds-small-size_12-of-12">
                                <div class="slds-p-around_small slds-border_top slds-card">
                                    <c-hv-view-edit-user-profile currentuserdata={currentuserrecord} showdeprovision={showOffboardButton}>
                                    </c-hv-view-edit-user-profile>
                                </div>
                            </div>
                        </div>
                    </lightning-tab>
                </template>
                <template if:true={showNotesTab}>
                    <lightning-tab label="Notes" icon-name="utility:note" value="notes" class="addstyletopage">
                        <c-hv-patient-notes currentuserdata={currentuserrecord}></c-hv-patient-notes>
                    </lightning-tab>
                </template>
                <template if:true={showsecurityquestionsTab}>
                    <lightning-tab label="Security Question" icon-name="utility:question" value="securityquestions" class="addstyletopage">
                        <c-hv-security-questions is-from-user-profile="true" currentuserdata={currentuserrecord}></c-hv-security-questions>
                    </lightning-tab>
                </template>
                <template if:true={showChangePasswordTab}>
                    <lightning-tab label="Password & Security" icon-name="utility:reset_password" value="changepassword"
                        onactive={handleClick} class="addstyletopage">
                        <template if:true={showChangePassword}>
                            <c-hv-change-password username={currentUserName} is-from-user-profile="true" otheruserchangepass={loggedinuserroleName}
                                oncancelpasswordchange={backToProfileLandingPage}></c-hv-change-password>
                        </template>
                    </lightning-tab>
                </template>
                <template if:true={showSetGoal}>
                    <lightning-tab label="Set Goal" icon-name="utility:check" value="goals" class="addstyletopage">
                        <c-hv-set-goal currentuserdetails={currentuserrecord}></c-hv-set-goal>
                    </lightning-tab>
                </template> 
                <template if:true={showSetGoal}>
                    <lightning-tab label="Notifications" icon-name="utility:notification" value="notifications" class="addstyletopage">
                        <c-hv-notifications conid={currentuserrecord.Contact.Id}></c-hv-notifications>
                    </lightning-tab>
                </template>
            </lightning-tabset>
        </div>
    </div>
</template>