.slds-timeline__item_expandable .slds-theme_shade, .slds-timeline__item_expandable .slds-theme--shade {
    background-color: rgb(243, 242, 242) !important;
}

.slds-timeline__item_expandable.slds-timeline__item_call .slds-media {
    border-bottom: 1px solid rgb(243, 242, 242) !important;
}
.slds-timeline__item_expandable.slds-timeline__item_call.slds-is-open .slds-media {

    border-bottom: none !important;
}
.addstyletopage {
    /*background:#f3f4f8;*/
    background: #dfe8f24f;
}