<template>
    <template if:true={loadawsdata}>
    <c-hv-aws-sdk-connect reqendpoint={apiendpoint} reqmethod={apimethod} reqbody={apirequestbody}
        onawsresponsesuccess={handleresponse} reqidentifier={devicetype}></c-hv-aws-sdk-connect>
    </template>
    <div class="slds-grid">
        <div class="slds-col slds-size_1-of-2 slds-m-left_small">
            <h2 class="slds-text-heading_large slds-button slds-m-vertical_medium"><strong><lightning-formatted-date-time value={dateToday} month="long" day="2-digit" weekday="long"></lightning-formatted-date-time></strong></h2>
                <div class="slds-theme_shade slds-p-around_x-small slds-m-vertical_small">
                
                    <strong>DAILY RECORDINGS:</strong>
                </div>
                <div class="slds-m-bottom_x-small" if:true={weight}>
                    <lightning-icon icon-name="utility:check" alternative-text="Success!" variant="success"
                    title="success variant small" size="x-small"></lightning-icon> Weight
                </div>
                <div class="slds-m-bottom_x-small" if:false={weight}>
                    <lightning-icon icon-name="utility:close" alternative-text="Success!" variant="error"
                    title="success variant small" size="x-small"></lightning-icon> Weight
                </div>
                <div class="slds-m-bottom_x-small" if:true={bp}>
                    <lightning-icon icon-name="utility:check" alternative-text="Success!" variant="warning"
                    title="success variant small" size="x-small"></lightning-icon> Blood Pressure
            </div>
            <div class="slds-m-bottom_x-small" if:false={bp}>
                <lightning-icon icon-name="utility:close" alternative-text="Success!" variant="error"
                title="success variant small" size="x-small"></lightning-icon> Blood Pressure
            </div>
                <div class="slds-m-bottom_x-small" if:true={heart_rate_data}>
                    <lightning-icon icon-name="utility:check" alternative-text="Success!" variant="error"
                    title="success variant small" size="x-small"></lightning-icon> Heart Rate
            </div>
            <div class="slds-m-bottom_x-small" if:false={heart_rate_data}>
                <lightning-icon icon-name="utility:close" alternative-text="Success!" variant="error"
                title="success variant small" size="x-small"></lightning-icon> Heart Rate
            </div>

                <!--div class="slds-theme_shade slds-p-around_x-small slds-m-vertical_small">
                    <strong>DAILY GOALS:</strong>
                </div>
            <div class="slds-m-bottom_x-small">
                <lightning-icon icon-name="utility:check" alternative-text="Success!" variant="error"
                    title="success variant small" size="x-small"></lightning-icon> Walk 20 minutes
            </div>
                <div class="slds-m-bottom_x-small">
                    <lightning-icon icon-name="utility:check" alternative-text="Success!" variant="success"
                    title="success variant small" size="x-small"></lightning-icon> Avoid soda
            </div>
                <div class="slds-m-bottom_x-small">
                    <lightning-icon icon-name="utility:check" alternative-text="Success!" variant="warning"
                    title="success variant small" size="x-small"></lightning-icon> Reduce smoking cigarettes
            </div>
                <div class="slds-m-bottom_x-small">
                    <lightning-icon icon-name="utility:close" alternative-text="Success!" variant="error"
                    title="success variant small" size="x-small"></lightning-icon> Eat 2 servings of vegetables
            </div-->
            <div class="slds-p-bottom_xx-large"></div>
            <div class="slds-p-bottom_xx-large"></div>
            <div class="slds-p-bottom_xx-large"></div>
        </div>

        <div class="slds-col slds-size_1-of-2 slds-align-middle">
            <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center">
                <!--h3 class="slds-text-heading_large" id="myChart"><strong>{counter}/3</strong></h3-->
                <div if:true={isChartJsInitialized} class="slds-col--padded slds-size--1-of-1">
                        <canvas class="donut" lwc:dom="manual"></canvas>
                    <div class="donut-inner">
                        <h5 class="slds-text-heading_large">
                            <strong>{counter}/3</strong>
                        </h5>
                    </div>
                    <div class="donut-inner-text">
                        <h5 class="slds-text-heading_large">
                            <p>tasks done!</p>
                        </h5>
                    </div>
                </div>
                <div if:false={isChartJsInitialized} class="slds-col--padded slds-size--1-of-1">
                    Chart Not loaded yet
                </div>
            </div>
            
        </div>
    </div>
    

</template>