p{
    font-size:1rem;
}

.donut-inner {
    margin-top: -30%;
    margin-left: 45%;
 }
 .donut-inner-text {
    margin-left: 42%;
 }

 .chartjs-render-monitor{
    display: flex;
    height: 50%;
    width: 100%;
    margin-top: -20%;
}