<template>
<lightning-card variant="Narrow" title="Update Goal" icon-name="utility:check">
    <!-- Update Goal -->
        <div class="slds-grid slds-p-vertical_medium slds-p-horizontal_medium- fixedHeight">
            <div class="slds-col slds-size_12-of-12">
                <lightning-layout vertical-align="center" multiple-rows="true" class="x-large">
                <!-- BP -->
                <lightning-layout-item data-id="Blood_Pressure__c" size="12"
                    small-device-size="6" medium-device-size="6" large-device-size="6"
                    padding="around-small">
                    <lightning-input name="Blood_Pressure__c" data-id="Blood_Pressure__c"
                        type="text" value={goalData.Blood_Pressure__c}
                        variant="label-inline"
                        onchange={inputFieldOnchange}
                        label="Blood Pressure">
                    </lightning-input>
                </lightning-layout-item>
                <lightning-layout-item data-id="Heart_Rate__c" size="12"
                    small-device-size="6" medium-device-size="6" large-device-size="6"
                    padding="around-small">
                    <lightning-input name="Heart_Rate__c" data-id="Heart_Rate__c"
                        type="text" value={goalData.Heart_Rate__c}
                        variant="label-inline"
                        onchange={inputFieldOnchange}
                        label="Heart Rate">
                    </lightning-input>
                </lightning-layout-item>
                <lightning-layout-item data-id="Weight__c" size="12"
                    small-device-size="6" medium-device-size="6" large-device-size="6"
                    padding="around-small">
                    <lightning-input name="Weight__c" data-id="Weight__c"
                        type="text" value={goalData.Weight__c}
                        variant="label-inline"
                        onchange={inputFieldOnchange}
                        label="Weight">
                    </lightning-input>
                </lightning-layout-item>
                <lightning-layout-item data-id="Target_Date__c" size="12"
                    small-device-size="6" medium-device-size="6" large-device-size="6"
                    padding="around-small">
                    <lightning-input type="date" name="Target_Date__c"
                        data-id="Target_Date__c"
                        value={goalData.Target_Date__c}
                        variant="label-inline" label="Target Date"
                        onchange={inputFieldOnchange}>
                    </lightning-input>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </div>
    <div slot="footer">
        <div
            class="slds-no-print slds-grid slds-grid_vertical-align-center slds-grid_align-spread ">
            <div class="slds-cols">
                <lightning-button variant="brand" label="Update" title="Submit"
                    onclick={saveGoal} class="slds-m-left_x-small"></lightning-button>
            </div>
        </div>
    </div>
    </lightning-card>
</template>