<template>
    <template if:true={awsresponseloaded}>
        <c-hv-aws-sdk-connect reqendpoint={apiendpoint} reqmethod={apimethod} reqbody={apirequestbody}
        onawsresponsesuccess={handleresponse} reqidentifier={devicetype}></c-hv-aws-sdk-connect>
    </template>
        <div class="calenderclass">
            <lightning-card variant="Narrow" title="Calender" icon-name="standard:event">
                <div class="fullcalendar">
                    
                </div>
            </lightning-card>
        </div>
</template>