<!--
@description       : 
@author            : ChangeMeIn@UserSettingsUnder.SFDoc
@group             : 
@last modified on  : 10-04-2021
@last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
Modifications Log 
Ver   Date         Author                               Modification
1.0   05-07-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <lightning-tabset active-tab-value={activeTab}> 
        <lightning-tab label="Register" value="register">
            <template if:false={isBoxSaved}>
                <lightning-layout multiple-rows>
                    <template if:true={boxid}>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                        padding="around-small"  >
                        <b>Box ID : </b>{boxName}
                    </lightning-layout-item>
                    </template>
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                        padding="around-small"  >
                        <template if:true={boxStatusVal}>
                            <template if:true={boxStatusOptions}>
                                <lightning-combobox
                                    name="Status"
                                    label="Status"
                                    value={boxStatusVal}
                                    placeholder="Select Status"
                                    options={boxStatusOptions}
                                    onchange={boxStatusChange}
                                    variant="inline-label"
                                        >
                                </lightning-combobox>
                            </template>
                        </template>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                        padding="around-small"  >
                        <template if:true={boxCustomerOptions}>
                            <lightning-combobox
                                name="customer"
                                label="Customer"
                                value={boxCustomerVal}
                                placeholder="Select Customer"
                                options={boxCustomerOptions}
                                onchange={boxCustomerChange}> 
                            </lightning-combobox> 
                        </template>
                    </lightning-layout-item>
                </lightning-layout>
                <lightning-button variant="brand" label="Save" onclick={handleCreateBoxid}></lightning-button>
                <template if:true={boxid}>
                    <template if:false={isAccessible}>
                        <template if:false={isAlreadyDeprovisioned}>
                            <lightning-layout multiple-rows>
                                <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                                    padding="around-small"  >
                                    <lightning-radio-group name="deprovision" label="Deprovision" options={deprovionsOptions}
                                        value={isDeprovision} type="radio" onchange={changeDeprovisionStatus}>
                                    </lightning-radio-group>
                                </lightning-layout-item>
                            </lightning-layout>
                        </template> 
                    </template> 
                </template>
            </template>
            <template if:true={boxid}>
                <template if:true={isBoxSaved}>
                    <lightning-layout multiple-rows >
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                              >
                            <b>ID  </b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                              >
                            <b>Status  </b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                             >
                            <b>Customer  </b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                              >
                            {boxName}
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                              >
                            {boxStatusVal}
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="3" large-device-size="4"
                             >
                            {boxCustomerVal}
                        </lightning-layout-item>  
                    </lightning-layout>    
                    
                </template>
                      
            </template>
        </lightning-tab>
        <template if:true={boxid}>
            <lightning-tab label="Watch" value="watch">
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addwatch" icon-name="utility:add" label="Add Watch" onclick={addWatch}>
                        </lightning-button>
                    </div> 
                    <template if:true={watchRecordId}>
                        <template for:each={watchRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Watch__c"
                                record-id={item.Id} object-fields={watchFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addWatchArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Watch__c" record-id=""
                            object-fields={watchFields} onspinner={spinnerLoading} >
                        </c-hv-inventory-related-cmp>
                    </template>
                </template>
            </lightning-tab>
            <lightning-tab label="BP" value="bp">
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addbp" icon-name="utility:add" label="Add BP" onclick={addBp}>
                        </lightning-button>
                    </div>
                    <template if:true={bpRecordId}>
                        <template for:each={bpRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_BP__c"
                                record-id={item.Id} object-fields={bpFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addBpArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_BP__c" record-id=""
                            object-fields={bpFields} onspinner={spinnerLoading}>
                        </c-hv-inventory-related-cmp>
                    </template>
                </template>
            </lightning-tab>
            <lightning-tab label="Pulse Oximeter" value="po">
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addpulseoximeter" icon-name="utility:add" label="Add PulseOximeter"
                            onclick={addPulseoximeter}>
                        </lightning-button>
                    </div>
                    <template if:true={pulseoximeterRecordId}>
                        <template for:each={pulseoximeterRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Pulse_Oximeter__c"
                                record-id={item.Id} object-fields={pulseoximeterFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addPulseoximeterArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Pulse_Oximeter__c"
                            record-id="" object-fields={pulseoximeterFields} onspinner={spinnerLoading}>
                        </c-hv-inventory-related-cmp>
                    </template>
                </template>
            </lightning-tab>
            <lightning-tab label="Spirometer" value="sp"> 
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addspirometer" icon-name="utility:add" label="Add Spirometer"
                            onclick={addSpirometer}>
                        </lightning-button>
                    </div>
                    <template if:true={spirometersRecordId}>
                        <template for:each={spirometersRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Spirometer__c"
                                record-id={item.Id} object-fields={spirometerFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addSpirometerArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Spirometer__c"
                            record-id="" object-fields={spirometerFields} onspinner={spinnerLoading}>
                        </c-hv-inventory-related-cmp>
                    </template>
                </template>
            </lightning-tab>
            <lightning-tab label="Glucometer" value="gc">
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addglucometer" icon-name="utility:add" label="Add Glucometer"
                            onclick={addGlucometer}>
                        </lightning-button>
                    </div>
                    <template if:true={glucometersRecordId}>
                        <template for:each={glucometersRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Glucometer__c"
                                record-id={item.Id} object-fields={glucometerFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addGlucometerArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Glucometer__c"
                            record-id="" object-fields={glucometerFields} onspinner={spinnerLoading}>
                        </c-hv-inventory-related-cmp>
                    </template>
                </template>
            </lightning-tab>
            <lightning-tab label="Tablet" value="tab">
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addtablet" icon-name="utility:add" label="Add Tablet"
                            onclick={addTablet}>
                        </lightning-button>
                    </div>
                    <template if:true={tabletRecordId}>
                        <template for:each={tabletRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Tablet__c"
                                record-id={item.Id} object-fields={tabletFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addTabletArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Tablet__c" record-id=""
                            object-fields={tabletFields} onspinner={spinnerLoading}>
                        </c-hv-inventory-related-cmp>
                    </template>
                </template>
            </lightning-tab>
            <lightning-tab label="WS" value="ws">
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addwss" icon-name="utility:add" label="Add WS" onclick={addWss}>
                        </lightning-button>
                    </div>
                    <template if:true={wssRecordId}>
                        <template for:each={wssRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_WS__c"
                                record-id={item.Id} object-fields={wssFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addWssArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_WS__c" record-id=""
                            object-fields={wssFields} onspinner={spinnerLoading}>
                        </c-hv-inventory-related-cmp>
                    </template>
                </template>
            </lightning-tab>
            <lightning-tab label="QA" value="qa">
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addqa" icon-name="utility:add" label="Add QA" onclick={addQa}>
                        </lightning-button>
                    </div>
                    <template if:true={qaRecordId}>
                        <template for:each={qaRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_QA__c"
                                record-id={item.Id} object-fields={qaFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addQaArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_QA__c" record-id=""
                            object-fields={qaFields} onspinner={spinnerLoading}>
                        </c-hv-inventory-related-cmp>
                    </template>
                </template> 
            </lightning-tab>
            <lightning-tab label="Tracking and Shipping" value="ts">
                <template if:true={boxid}>
                    <div class="slds-p-left_x-small">
                        <lightning-button name="addqa" icon-name="utility:add" label="Add Tracking and Shipping" onclick={addTracking}>
                        </lightning-button>
                    </div>
                    <template if:true={trackingRecordId}> 
                        <template for:each={trackingRecordId} for:item="item">
                            <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Tracking_and_Shipping__c"
                                record-id={item.Id} object-fields={trackingFields} onspinner={spinnerLoading}>
                            </c-hv-inventory-related-cmp>
                        </template>
                    </template>
                    <template for:each={addTrakingArray} for:item="item">
                        <c-hv-inventory-related-cmp key={id} boxid={boxid} object-api-name="HV_Tracking_and_Shipping__c" record-id=""
                            object-fields={trackingFields} onspinner={spinnerLoading}>
                        </c-hv-inventory-related-cmp>
                    </template>
                </template>
            </lightning-tab>
        </template>
    </lightning-tabset>
</template>