<template>
    <div class="slds-grid">
        <div class="slds-col slds-size_12-of-12">
            <lightning-card>
                <div slot="title">
                    Change Password
                </div>
                <span class="slds-text-color_error slds-text-title slds-p-horizontal_small"> {errorMessage}</span>
                <div class="slds-grid slds-p-horizontal_small ">
                    <div class="slds-col slds-size_2-of-2">
                        <template if:true={isUseStandardPassword}>
                            <div class="slds-m-bottom_x-large slds-m-top_medium">
                                <lightning-input class="inputTypesPass" type="password" variant="label-hidden"
                                    value={oldPassword} onchange={setOldPassword} name="password"
                                    placeholder="Old Password" label=" " required
                                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[_^\w\s]).{8,}$"
                                    message-when-pattern-mismatch="Password should consist of minimum 8 characters and contain atleast one lowercase, one uppercase, one number and one special character"
                                    message-when-too-short="Password should consist of minimum 8 characters"
                                    min-length=8>
                                </lightning-input>
                            </div>
                        </template>
                        <div class="slds-m-bottom_x-large slds-m-top_medium">
                            <lightning-input class="inputTypesPass" type="password" variant="label-hidden"
                                value={newPassword} onchange={setPassword} name="password" placeholder="New Password"
                                label=" " required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[_^\w\s]).{8,}$"
                                message-when-pattern-mismatch="Password should consist of minimum 8 characters and contain atleast one lowercase, one uppercase, one number and one special character"
                                message-when-too-short="Password should consist of minimum 8 characters" min-length=8>
                            </lightning-input>
                        </div>
                        <div class="slds-m-bottom_x-large slds-m-top_medium">
                            <lightning-input class="inputTypesPass" type="password" variant="label-hidden"
                                value={confirmPassword} name="confirmpassword" onchange={setConfirmPassword}
                                placeholder="Confirm Password" label=" " required
                                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[_^\w\s]).{8,}$"
                                message-when-pattern-mismatch="Password should consist of minimum 8 characters and contain atleast one lowercase, one uppercase, one number and one special character"
                                message-when-too-short="Password should consist of minimum 8 characters" min-length=8>
                            </lightning-input>
                        </div>
                        <div class="slds-m-top_medium slds-m-bottom_small">
                            <lightning-input onchange={togglePaswrd} type="checkbox" label="Show Password"
                                name="showpassword" value={showPassword}></lightning-input>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-grid_align-spread slds-p-around_small slds-border_top slds-m-top_x-large">
                    <template if:true={isFromUserProfile}>
                        <lightning-button variant="brand-outline" label="Cancel" class="slds-col"
                            onclick={cancelPasswordChange}></lightning-button>
                    </template>
                    <template if:false={isFromUserProfile}>
                        <c-hv-cancel-button-to-login></c-hv-cancel-button-to-login>
                    </template>
                    <lightning-button variant="brand" label="Change Password" onclick={changePass} class="slds-col">
                    </lightning-button>
                </div>
            </lightning-card>
        </div>
    </div>
</template>