<template>
    <template if:true={isGreen}>
        
            <lightning-icon icon-name="utility:success" alternative-text="Success!" variant="success"
            title="success variant" size="small"></lightning-icon>
        
    </template>
    <template if:true={isWarning}>
        
            <lightning-icon icon-name="utility:warning" alternative-text="Warning!" variant="warning"
            title="warning variant" size="small"></lightning-icon>
        
    </template>
    <template if:true={isDanger}>
        <lightning-icon icon-name="utility:error" alternative-text="Error!" variant="error" title="error variant" size="small">
        </lightning-icon>
    </template>
</template>