<template>
    <template if:true={showspinner}>
        <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
    </template>
    <template if:true={awsrequestdetails.dataType}>
        <c-hv-aws-sdk-connect reqendpoint={awsrequestdetails.endpoint} reqmethod={awsrequestdetails.awsmethod} reqbody={awsrequestdetails.requestbody}
            onawsresponsesuccess={handleresponse} reqidentifier={awsrequestdetails.dataType}></c-hv-aws-sdk-connect>
        <template if:false={showspinner}>
            <template if:true={showdata}>     
                <div class="tableheight">      
                    <lightning-datatable columns={tablecolumns} data={tabledata} key-field="id" hide-checkbox-column enable-infinite-loading
                    onloadmore={loadMoreData} show-row-number-column>
                    </lightning-datatable>     
                </div>             
            </template>
            <template if:false={showdata}>
                <h1 class="shownodata">No Data Available</h1>
            </template>
        </template>
    </template>
</template>