<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 07-10-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   05-12-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={isLoading}>
        <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
    </template>
    <div class="slds-grid slds-wrap slds-grid_align-spread slds-wrap slds-m-bottom_small slds-p-bottom_small slds-border_bottom">
        <div  class="slds-col"> 
            <!-- Back to Inventory -->
            <lightning-button  if:false={isDataList} variant="brand" label=" " icon-name="utility:chevronleft" onclick={backToInventory}></lightning-button>
        </div>    
        <div class="slds-col">
            <div if:true={isDataList}  class="slds-button slds-button_brand" onclick={onNewIventory}>
                <lightning-icon icon-name="utility:record_create" size="x-small" class="slds-m-right_small"  alternative-text="Event" title="Event" variant="inverse"></lightning-icon>
                <span >  New Inventory</span>
            </div>
        </div>
    </div>

    <template if:true={isDataList}>
        <c-hv-inventory-data-list onisedit={handleEditInventory} onspinner={spinnerLoading}></c-hv-inventory-data-list>
    </template>
    <template if:true={isNewInventory}>
            <c-hv-new-inventory-device  onspinner={spinnerLoading}></c-hv-new-inventory-device>
    </template>
    <template if:true={isEditInventory}>
        <template if:true={boxrecid}>
            <c-hv-new-inventory-device
                boxid={boxrecid} 
                watch-record-id={watchrecid}
                bp-record-id={bprecid} 
                qa-record-id={qarecid}
                pulseoximeter-record-id={pulseoximeterrecid}
                spirometers-record-id={spirometersrecid} 
                wss-record-id={wssrecid}
                glucometers-record-id={glucometersrecid} 
                tablet-record-id={tabletrecid}
                tracking-record-id={trackingrecid}
            >
            </c-hv-new-inventory-device>
        </template>
    </template>
</template>