<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 07-13-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-29-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={rolesOptions}>
        <div onclick={expandBody}>

          <lightning-combobox  placeholder="Select Role"  options={rolesOptions} onchange={changeRole}></lightning-combobox>
        </div>
    </template>
</template>