<!--
		@description       : 
		@author            : ChangeMeIn@UserSettingsUnder.SFDoc
		@group             : 
		@last modified on  : 09-24-2021
		@last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
		Modifications Log 
		Ver   Date         Author                               Modification
		1.0   05-11-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
		-->
<template>
	<template if:true={displaydata}>
		<div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3  slds-medium-size_1-of-3 slds-small-size_1-of-1 ">
			<div>
				<lightning-input name="enter-search" label="Search" type="search" 
					onchange={handleSearch}>
				</lightning-input>
			</div>
		</div>
		<template if:true={isModalOpen}>
			<c-hv-select-columns 
				options-checkbox={optionsCheckbox} 
				contact-id={contactId}
				onsubmit={submitDataColumns}
				onclose={closeModal}
				onspinloading={spinload}>
			</c-hv-select-columns>
		</template>
		<!--<div class="slds-border_top slds-p-vertical_small slds-m-top_medium slds-grid slds-grid_align-spread slds-grid_vertical-align-center slds-wrap backgroundStyle ">
			<div class="slds-grid slds-wrap  content slds-grid_vertical-align-center">
				<div class="slds-grid slds-col  content slds-grid_vertical-align-center">
					<c-hv-pagination onprevious={previousHandler} onnext={nextHandler}></c-hv-pagination>
				</div>
				<div class="slds-col content  slds-m-left_xx-small">
					
					Displaying {startingRecord} to  {totalRecountCount} of {endingRecord} records.
				</div>
			</div>
			<div>
				<lightning-button-icon class="slds-m-left_xx-small" icon-name="utility:settings" onclick={openModal}  alternative-text="Settings" title="Settings"></lightning-button-icon>
			</div>
		</div>-->
		<div
		class="slds-border_top slds-m-top_medium slds-grid slds-grid_align-spread slds-grid_vertical-align-center slds-wrap backgroundStyle">
		<div class="slds-col slds-grid slds-wrap slds-grid_vertical-align-center">
			<c-hv-pagination onprevious={previousHandler} onnext={nextHandler}></c-hv-pagination>
			<p class="slds-col slds-m-vertical_medium content slds-m-left_xx-small">
				Displaying {startingRecord} to {endingRecord} of {totalRecountCount} records.
			</p>


		</div>
		<div class="slds-col slds-grid_vertical-align-center slds-grid">


			<div class="slds-col slds-grid slds-is-relative slds-m-left_xx-small">
				Filter By :
			</div>
			<div class="slds-col slds-grid slds-is-relative slds-m-left_xx-small">
				<lightning-button-menu alternative-text="Show menu" menu-alignment="auto"
					icon-name="utility:picklist_choice" onselect={selectDepartment}>
					<lightning-menu-subheader label="Department"></lightning-menu-subheader>
					<lightning-menu-divider></lightning-menu-divider>
					<template for:each={chooseByDepartmentoptions} for:item="menuItem" title="By Department">
						<lightning-menu-item key={menuItem.id} value={menuItem.value} label={menuItem.label}
						checked={menuItem.checked}>
						</lightning-menu-item>
					</template>
				</lightning-button-menu>
			</div>
			

			<div class="slds-col slds-grid slds-is-relative slds-m-left_xx-small">
				<lightning-button-menu alternative-text="Show menu" menu-alignment="auto"
					icon-name="utility:company" onselect={selectClinic}>
					<lightning-menu-subheader label="Clinic"></lightning-menu-subheader>
					<lightning-menu-divider></lightning-menu-divider>
					<template for:each={chooseByClinicoptions} for:item="menuItem" title="By Clicic">
						<lightning-menu-item key={menuItem.id} value={menuItem.value} label={menuItem.label}
						checked={menuItem.checked}>
						</lightning-menu-item>
					</template>
				</lightning-button-menu>
			</div>

			<lightning-button-icon class="slds-m-left_xx-small" icon-name="utility:settings" onclick={openModal}
				alternative-text="Settings" title="Settings">
			</lightning-button-icon>
			
		</div>
	</div>
		<template if:true={totalColumns}>
			<template if:true={totalColumns}>
				<c-hv-custom-inventory-datalist 
					data={displaydata} 
					columns={totalColumns} 
					key-field="id"
					hide-checkbox-column 
					default-sort-direction={defaultSortDirection} 
					sorted-direction={sortDirection} 
					sorted-by={sortedBy}  
					onsort={onHandleSort}
					onselectedrec={handleSelectedRec}
					show-row-number-column="false"
					>
				</c-hv-custom-inventory-datalist>
			</template>
		</template>
	</template>
	<template if:false={displaydata.length}>
		<div class="slds-text-align_center"  >
			No data available
		</div>
	</template>
</template>