.backgroundStyle{
    background : #dfe8f24f;
}
.cursorDrag{
    cursor:move;
}
/* .cursorDrag .Items{
    cursor:pointer !important;
} */
.customIcon{
    /* top: 8px;
    padding-right: 0;
    left: 0;
    border-right: 1px solid #c3c3c3;
    border-radius: 0; */
    top: 50%;
    padding-right: 0;
    left: 3px;
    /* border-right: 1px solid #c3c3c3; */
    border-radius: 0;
    transform: translateY(-50%);
}