<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-03-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <div class="slds-theme_shade slds-p-around_small slds-no-print">
        <div class=" slds-grid slds-grid_vertical-align-center slds-grid_align-center">
            <button class="slds-button slds-text-link_reset" onclick={openContactModal}>
                Contact Us
            </button>
            <!-- href="mailto:contact@test.com?subject=Facing issue" -->
        </div>
        <div class=" slds-grid slds-grid_vertical-align-center slds-grid_align-center">
            <button class="slds-button slds-text-link_reset" onclick={handlePrivacy}>Privacy</button>
            <button class="slds-button slds-text-link_reset" onclick={handleTerms}> | Terms and Conditions of
                use</button>
        </div>

    </div>
    <template if:true={isprivacy}> 
       <template if:true={privacy}> 
            <c-hv-modal modalheader="PRIVACY NOTICE" modalbody={privacy} closebuttonlabel="Accept"
                onclosemodal={closeModal}></c-hv-modal> 
        </template> 

    </template>
    <template if:true={isterm}>
        <template if:true={termofuse}>
            <c-hv-modal modalheader="Terms and Conditions" modalbody={termofuse} closebuttonlabel="Accept"
                onclosemodal={closeModal}></c-hv-modal>
        </template>

    </template>

    <template if:true={isContactOpen}>
        <c-hv-modal modalheader="" modalbody="Contact Us" closebuttonlabel="Close" okbuttonlabel=""
            onclosemodal={closeContactModal}></c-hv-modal> 
    </template>

</template>