<template>
    <div if:true={showButton}>
        <lightning-button variant="neutral" label="Off-board" title="Off-board" onclick={offboardUser} class="slds-m-left_x-small"></lightning-button>
    </div>
</template>