<template>
    <div>
        <lightning-layout vertical-align="center" multiple-rows="true" class="x-large page">
            <lightning-layout-item padding="around-small" size="12">
                <c-hv-broadcast-alert></c-hv-broadcast-alert>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small" size="12">
                <div class="page-section page-main">
                    <template if:true={showTabs}>
                        <lightning-tabset class="slds-tabs_large">
                            <template if:false={isassetusers}>
                                <template if:true={rolesArray}>
                                    <template for:each={rolesArray} for:item="rolevalue">
                                        <lightning-tab key={Id} label={rolevalue.roleName} value={rolevalue.roleName}
                                            onactive={handleActive}>
                                            <template if:true={rolevalue.tabAccess}>
                                                <c-hv-physician-dashboard onchild={hanldleChild}
                                                    role-name={rolevalue.roleName}
                                                    create-user-access={rolevalue.createUserAccess}
                                                    current-user-record={currentUserRecord}
                                                    column-api-name={rolevalue.columnApiName}>
                                                </c-hv-physician-dashboard>
                                            </template>
                                        </lightning-tab>
                                    </template>
                                </template>
                            </template>
                            <template if:true={isassetusers}>
                                <lightning-tab label="Inventory Management" class="page">
                                    <c-hv-inventory-management></c-hv-inventory-management>
                                </lightning-tab>
                            </template>
                        </lightning-tabset>
                    </template>
                    <template if:true={patientRegister}>
                        <div class="slds-no-print slds-p-vertical_small slds-m-bottom_small slds-border_bottom">
                            <lightning-button icon-name="utility:chevronleft" variant="brand" label=""
                                title="Primary action" onclick={revertBackDashboard} class="page"></lightning-button>
                        </div>
                        <c-hv-patient-registration-dynamic onbackcall={revertBackDashboard}>
                        </c-hv-patient-registration-dynamic>
                    </template>
                    <template if:true={userProfile}>
                        <div class="slds-no-print slds-p-vertical_small slds-m-bottom_small slds-border_bottom">
                            <lightning-button icon-name="utility:chevronleft" variant="brand" label=""
                                title="Primary action" onclick={revertBackDashboard} class="page"></lightning-button>
                        </div>
                        <c-hv-user-profile></c-hv-user-profile>
                    </template>
                    <template if:true={physicianRegister}>
                        <div class="slds-no-print slds-p-vertical_small slds-m-bottom_small slds-border_bottom">
                            <lightning-button icon-name="utility:chevronleft" variant="brand" label=""
                                title="Primary action" onclick={revertBackDashboard} class="page"></lightning-button>
                        </div>
                        <template if:true={roleName}>
                            <c-hv-physician-registration role-value={roleName} onbackcall={revertBackDashboard}>
                            </c-hv-physician-registration>
                        </template>
                    </template>
                </div>
            </lightning-layout-item>
        </lightning-layout>
        <c-hv-popup is-consent-open={isPatientAndFirstLogin}></c-hv-popup>
    </div>
</template>