.page-header{
    height:65px;
    overflow:visible;
}
.page-footer {
    height: 76px;
    overflow:hidden;
}
.page-main {
    background: #fff;
    height:calc(100vh - 170px);
    overflow:hidden;
    overflow-y:auto;
}
.page{
    /*background:#f3f4f8;*/
    background: #dfe8f24f;
}
div[id*="modal-content-id"]{
    height:50vh;
}