<template>
    <c-hv-aws-sdk-connect reqendpoint={apiendpoint} reqmethod={apimethod} reqbody={apirequestbody}
    onawsresponsesuccess={handleresponse} reqidentifier={devicetype}></c-hv-aws-sdk-connect>
    <template if:true={isLoading}>
        <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
    </template>
    <template if:false={isLoading}>
        <template if:false={datafromaws}>
            <h1 class="shownodata">No Data Available</h1>
        </template>
        <template if:true={datafromaws}>
            <div style="height: 500px;">
                <lightning-datatable
                        key-field="id"
                        data={tabledata}
                        columns={columns}
                        enable-infinite-loading
                        onloadmore={loadMoreData}
                        show-row-number-column="true"
                        hide-checkbox-column="true">
                </lightning-datatable>
            </div>
        </template>
    </template> 
</template>