<template>
    <div class="slds-card">
        <div class="slds-grid slds-wrap slds-grid_vertical-align-center slds-grid_align-spread  slds-p-around_small">
            <div class="slds-col">
                <div class="slds-grid slds-grid_vertical-align-center slds-gutters">
                    <div class="slds-col slds-m-right_medium">
                        <div class="slds-text-heading_medium">Security Questions</div>
                    </div>
                </div>
            </div>
        </div>
        <template if:true={errormessage}>
            <h2><span class="slds-text-color_error slds-text-title slds-p-horizontal_small">{errormessage}</span>
            </h2>
        </template>
        <div class="slds-m-bottom_small slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-combobox name="HV_Security_Question_One__c" label="Question1"
                    value={userpreferencedetails.HV_Security_Question_One__c} onchange={onSecurityQuestionChange}
                    placeholder="Select Security Question" variant="label-inline" options={securityquestionOptions1}
                    required disabled={isdisabled}></lightning-combobox>
            </div>
            <div class="slds-col slds-size_1-of-2" if:true={userpreferencedetails.HV_Security_Question_One__c}>
                <lightning-input name="HV_Security_Answer_One__c" type="text" variant="label-hidden" label="Answer"
                    placeholder="Answer" value={userpreferencedetails.HV_Security_Answer_One__c}
                    onchange={onAnswerChange} required disabled={isdisabled}></lightning-input>
            </div>
        </div>
        <div class="slds-m-bottom_small slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-combobox name="HV_Security_Question_Two__c" label="Question2"
                    value={userpreferencedetails.HV_Security_Question_Two__c} onchange={onSecurityQuestionChange}
                    placeholder="Select Security Question" variant="label-inline" options={securityquestionOptions2}
                    required disabled={isdisabled}></lightning-combobox>
            </div>
            <div class="slds-col slds-size_1-of-2" if:true={userpreferencedetails.HV_Security_Question_Two__c}>
                <lightning-input name="HV_Security_Answer_Two__c" type="text" variant="label-hidden" label="Answer"
                    placeholder="Answer" value={userpreferencedetails.HV_Security_Answer_Two__c}
                    onchange={onAnswerChange} required disabled={isdisabled}></lightning-input>
            </div>
        </div>
        <div class="slds-m-bottom_small slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-combobox name="HV_Security_Question_Three__c" label="Question3"
                    value={userpreferencedetails.HV_Security_Question_Three__c} onchange={onSecurityQuestionChange}
                    placeholder="Select Security Question" variant="label-inline" options={securityquestionOptions3}
                    required disabled={isdisabled}></lightning-combobox>
            </div>
            <div class="slds-col slds-size_1-of-2" if:true={userpreferencedetails.HV_Security_Question_Three__c}>
                <lightning-input name="HV_Security_Answer_Three__c" type="text" variant="label-hidden" label="Answer"
                    placeholder="Answer" value={userpreferencedetails.HV_Security_Answer_Three__c}
                    onchange={onAnswerChange} required disabled={isdisabled}></lightning-input>
            </div>

        </div>
        <template if:false={isdisabled}>
            <hr>
            <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-spread ">
                <div class="slds-cols">
                    <lightning-button disabled={prevDisable} variant="brand" label="Set" title="Set"
                        onclick={setSecuity}>
                    </lightning-button>
                </div>
            </div>
        </template>
    </div>
</template>