<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 08-25-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
        <!-- Modal/Popup Box LWC header here -->
        <template if:true={isLoading}>
            <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
        </template>
        <header class="slds-modal__header">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                onclick={closeModal}>
                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                </lightning-icon>
                <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Edit Devices</h2>
            <div class="slds-text-color_error ">
                <p class="columnError"></p>
            </div>
        </header>
        <!-- Modal/Popup Box LWC body starts here -->
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <template if:true={boxid}>
            <c-hv-new-inventory-device 
            boxid={boxid} 
            watch-record-id={watchrecid}
            bp-record-id={bprecid} 
            qa-record-id={qarecid}
            pulseoximeter-record-id={pulseoximeterrecid}
            spirometers-record-id={spirometersrecid} 
            wss-record-id={wssrecid}
            glucometers-record-id={glucometersrecid} 
            tablet-record-id={tabletrecid}
            tracking-record-id={trackingrecid}
            is-accessible="true"
        > 
        </c-hv-new-inventory-device>
        </template>
            
        </div>
        <!-- Modal/Popup Box LWC footer starts here -->
        <footer class="slds-modal__footer">
            <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Done</button>
          <!--  <button class="slds-button slds-button_brand" onclick={submit} title="OK">Edit Devices</button>-->
        </footer>
    </div>
</section>
<div class="slds-backdrop slds-backdrop_open"></div>
</template>