<template>
    <template if:true={displayFlag}>
        <template if:true={dataFlag}>
            <div class="slds-text-heading_medium">
                Clinic Licenses
            </div>
            <lightning-datatable data={data} columns={columns} key-field="Id" hide-checkbox-column="true">
            </lightning-datatable>
        </template>
    </template>
</template>