h1.slds-button{
    font-weight:bold;
}
span.notification {
    left: 5px;
    background: red;
    border-radius: 50%;
    color: #fff;
    font-size: 7px;
    width: 10px;
    height: 10px;
    text-align: center;
    top: 5px;
}