<template>
    <div class="slds-theme_shade slds-grid slds-grid_vertical-align-center slds-wrap slds-p-around_small">

        <div class="slds-col slds-size_10-of-12 slds-card slds-wrap slds-p-around_small">
            <div class="slds-grid slds-grid_vertical-align-center">
                <div class="slds-col slds-size_2-of-12 slds-button--brand slds-p-around_small">
                    <lightning-icon size="small" icon-name="utility:people" variant="inverse"></lightning-icon>
                    <div class="slds-text-title slds-text-color_inverse">You are the</div>
                    <div class="slds-text-heading_large">{loginCount}</div>
                    <div class="slds-text-title slds-text-color_inverse">veteran to</div>
                    <div class="slds-text-title slds-text-color_inverse">log on today!</div>
                </div>
                <div class="slds-col slds-size_8-of-12 slds-m-horizontal_small">
                    <div class="slds-p-horizontal_small">
                        <h1 class="slds-text-heading_large slds-button">Good morning, {name}</h1>
                        <h2 class="slds-text-heading_medium slds-text-title_caps"><span>Livm<span class="slds-button">o</span>r</span> Member since: {joiningDate}</h2>
                    </div>
                </div>
                <div class="slds-col slds-size_2-of-12 slds-align-bottom">
                    <div class="slds-grid slds-grid_vertical ">
                        <div class="slds-col slds-is-relative">
                            <lightning-button variant="base" label="Message" onclick={handleMessages} title="email action with base variant" icon-name="utility:email" class="slds-col"></lightning-button>
                            <span class="notification slds-is-absolute">2</span>
                        </div>
                        <div class="slds-col">
                            <lightning-button variant="base" label="Edit Profile" onclick={handleProfile} title="settings action with base variant" icon-name="utility:settings" class="slds-col"></lightning-button>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    
        <div class="slds-col slds-size_2-of-12 slds-grid slds-grid_align-space slds-wrap slds-grid_vertical-align-center slds-grid_vertical slds-p-around_small">
            <lightning-button variant="brand" label="To Hearview" title="HeartView" onclick={showHeartView} class="slds-col slds-m-bottom_small slds-button_stretch"></lightning-button>
            <lightning-button variant="brand" label="Logout" title="Primary action" onclick={dologout} class="slds-col slds-button_stretch"></lightning-button>
        </div>
    </div>
</template>