<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-1 slds-medium-size_2-of-2 slds-large-size_2-of-3">
           <c-hv-calendar></c-hv-calendar>
        </div>

        <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-1 slds-medium-size_2-of-2 slds-large-size_1-of-3 ">
            <div class="slds-text-heading_medium slds-button slds-m-bottom_small">
                <div class="slds-p-left_x-small">
                    Messages from your care team:
                </div>
            </div>
            <div class="slds-scrollable_y slds-p-left_x-small">
                <c-hv-patient-notes></c-hv-patient-notes>
            </div>
            
        </div>
    </div>
    

</template>