<template>
    <div class="slds-grid slds-wrap" if:true={showdiv}>
        <div class="slds-col slds-size_11-of-12" data-id="divblockvalue">
            <p>{value}</p>
        </div>
        <div class="slds-col slds-size_1-of-12" data-id="divblock">
            <lightning-icon icon-name="utility:new_window" size="xx-small"  onclick={openModal}></lightning-icon>
        </div>
    </div>
    <div class="slds-grid slds-wrap" if:false={showdiv}>
        <div class="slds-col slds-size_12-of-12" data-id="divblockvalue">
            <p>{value}</p>
        </div>
    </div>
    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Notification Message</h2>
                    <div class="slds-text-color_error ">
                        <p class="columnError"></p>
                    </div>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="wrapit">
                        {value}
                    </div>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal}
                        title="Cancel">Cancel</button> 
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>